[2020-11-27 10:59] jmakhack opened #4 "Add JUnit tests for HydrateReminderPlugin.java"
**Task Description:**

There are currently no unit tests for the plugin logic.
Add JUnit tests to test the main plugin logic found in HydrateReminderPlugin.java.

**Acceptance Criteria:**

At minimum, the `resetHydrateReminderTimeInterval` and `getChatNotificationMessageType` methods within the `HydrateReminderPlugin` class should be tested. A mocking framework such as [Mockito](https://site.mocki

[2020-12-09 07:25] jmakhack opened #5 "Add hydrate emoji to chat message reminders"
**Is your feature request related to a problem? Please describe.**

It would be nice to have the chat message reminder include an emoji such as the water cup icon from icon.png:
![](https://raw.githubusercontent.com/jmakhack/hydrate-reminder/master/icon.png)

This would help the chat message to stand out from all the other messages so that the user will not easily miss the hydrate reminder message

[2021-01-17 04:28] jmakhack opened #6 "Add variety to the Hydrate Reminder messages that get displayed"
**Is your feature request related to a problem? Please describe.**
There is currently only one same message that appears after every interval to remind the player to take a hydration break.

**Describe the solution you'd like**
It would be nice to have a list of different messages that the plugin randomly chooses from whenever it sends out a reminder.

**Additional context**
One thing to keep in m

[2021-01-17 13:00] jmakhack opened #7 "Add JavaDocs for better codebase maintainability"
**Task Description:**

There are currently no JavaDocs for the plugin logic.
Add JavaDocs to improve the maintainability of the main plugin logic.

**Acceptance Criteria:**

Add JavaDocs to classes, methods, and fields where needed.
Refactor class methods and fields in the meantime to improve overall maintainability and readability of the code.
Update the contributing guidelines to include the nee

[2021-01-19 12:04] #7 closed

[2021-01-20 10:48] jmakhack commented on #4
Wrote [jUnit](https://junit.org/junit4/) tests with [jMockit](https://jmockit.github.io/) as the mocking framework.

[2021-01-20 11:01] #4 closed

[2021-02-28 04:32] jmakhack commented on #4
@all-contributors please add @jmakhack  for tests

[2021-02-28 04:33] jmakhack commented on #4
@all-contributors please add @jmakhack for tests

[2021-02-28 04:39] jmakhack commented on #4
@all-contributors please add @jmakhack for maintenance, docs, code, design, ideas

[2021-03-01 18:56] #6 closed

[2021-03-04 01:12] jmakhack opened #20 "Add some hydrate reminder messages with fun OSRS references"
## Is your feature request related to a problem? Please describe.

The current plugin has a list of fairly generic hydrate messages it rotates between.
![https://i.imgur.com/p4apX52.png](https://i.imgur.com/p4apX52.png)

## Describe the solution you'd like

It would be a fun addition to include some messages with Old School RuneScape references.
They could be anything related to RuneScape drinks,

[2021-03-04 03:21] jmakhack opened #21 "Add chat command to view time remaining until the next scheduled hydrate break"
## Is your feature request related to a problem? Please describe.

As a hydrate-reminder user, I have no indication of when my next scheduled hydrate break will be.

## Describe the solution you'd like

I would like to be able to input a chat command `::hydrate next` to see how much time is remaining until my next scheduled hydrate break.

The response message should be displayed in the form of a

[2021-04-03 00:43] jmakhack opened #24 "Improve Code Quality according to Codacy"
## Task Context

Codacy has marked the code quality of hydrate-reminder as a B.

As shown on the [hydrate-reminder](https://app.codacy.com/gh/jmakhack/hydrate-reminder/dashboard) dashboard, there are 51 known issues. All 51 of these issues are related to code style.

The goal of this task is to bring the number of issues as close to zero as possible to boost to overall code quality of hydrate-remi

[2021-04-04 06:23] #24 closed

[2021-04-07 00:06] #21 closed

[2021-04-09 08:46] jmakhack opened #28 "Add chat command to view time since the previously scheduled hydrate break"
## Is your feature request related to a problem? Please describe.
As a hydrate-reminder user, I have no way to check how far back my last hydrate break was.

## Describe the solution you'd like
I would like to be able to input a chat command `::hydrate prev` to see how much time it has been since my last hydrate break.

The response message should be displayed in the form of a GAMEMESSAGE in the c

[2021-04-09 11:01] jmakhack opened #29 "Add chat command to reset the current hydrate reminder interval"
## Is your feature request related to a problem? Please describe.
As a hydrate-reminder user, I have no way to reset the current hydrate interval.

## Describe the solution you'd like
I would like to be able to input a chat command `::hydrate reset` to reset the current hydrate interval.

The command success message should be displayed in the form of a GAMEMESSAGE in the chatbox and should display

[2021-04-10 01:24] #28 closed

[2021-04-10 10:34] jmakhack opened #31 "Display an informative welcome message when the player logs in"
## Is your feature request related to a problem? Please describe
There is no welcome message from hydrate-reminder when the user logs in that could display useful info such as available commands and hydration tips.

## Describe the solution you'd like
When the user logs in to RuneLite, a GAMEMESSAGE should show up from hydrate-reminder with a randomly selected message from an available bucket of w

[2021-04-10 10:38] jmakhack opened #32 "Add chat command to view all available chat commands"
## Is your feature request related to a problem? Please describe
There is no current method to view all the available chat commands for the plugin other than to view the GitHub README.

## Describe the solution you'd like
I would like for there to be a chat command `::hydrate help` to view all the available commands for the hydrate-reminder plugin. It can be a simple message such as `Available com

[2021-04-10 10:44] jmakhack opened #33 "Update and re-enable unit tests"
## Task Context

Unit tests were disabled due to dependency issues that had to be resolved in order to release v1.1.0.
Update the unit tests to be able to run and re-enable them for the v1.1.1 release.

[2021-05-13 01:47] #29 closed

[2021-05-13 04:20] #32 closed

[2021-05-13 04:24] jmakhack opened #38 "Add screenshots and chat command info in README"
## Task Context

The README documentation doesn't currently include any screenshots or animations of how the plugin functions.\
It would be nice to have some to showcase the functionality of the plugin.

New to v1.1.0, the plugin now supports a variety of chat commands to improve the player experience.\
Those chat commands should also be included in the README documentation as well for easy refere

[2021-05-13 22:36] #31 closed

[2021-05-15 11:15] jmakhack opened #40 "Welcome message appears repeatedly in chat box"
**Describe the bug**
Occasionally, the Hydrate Reminder plugin's welcome message appears repeatedly in quick succession in the chat box after the player logs in.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable welcome message setting in Hydrate Reminder plugin
2. Login to OSRS in RuneLite
3. Look at chatbox to see if welcome message appears once or multiple times
4. Repeat steps 2-3 m

[2021-05-17 15:43] EmmanuelOlofintuyi opened #41 "Makeing variables more clear"
## Is your feature request related to a problem? Please describe
I might have missed but a feature I would suggest is defining variables more clearly to make it easier for other coders to edit

## Describe the solution you'd like
create a comment above or below your method to state new variable and what it does

## Describe any possible alternatives
A clear and concise description of any alternati

[2021-07-09 06:12] #5 closed

[2021-07-09 07:57] #40 closed

[2021-07-10 06:30] jmakhack opened #49 "Use a hydrate reminder emoji that is more clear and easily identifiable"
**Describe the bug**
The cup of water emoji icon used in messages is a bit blurry and unclear.
It is not obvious that it is a cup of water and blends in with the chatbox background a bit.

**To Reproduce**
Steps to reproduce the behavior:
1.  Enable the welcome message setting for the hydrate reminder plugin
2. Logout and login
3. Wait for the hydrate reminder welcome message to generate
4. Observ

[2021-07-10 08:04] jmakhack commented on #20
Reopening as an ongoing enhancement for future milestones

[2021-07-10 10:04] #49 closed

[2021-07-10 10:40] jmakhack opened #52 "Welcome message appears when entering/exiting special event sequences"
**Describe the bug**
When going into a special event trigger, the hydrate reminder welcome message is sent once when entering the event and once again when exiting the event back into the main world.

**To Reproduce**
Steps to reproduce the behavior:
1.  Wait for a special event sequence to trigger
2. Observe that the welcome message displays on entry and on exit of special event

**Expected Behav

[2021-07-11 07:26] jmakhack opened #54 "Hydrate reminder interval resets when hopping between worlds"
**Describe the bug**
When hopping between worlds, the hydrate reminder interval appears to reset.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the hydrate reminder interval to 5 minutes
2. Let the game run for about 3-4 minutes
3. Switch worlds (without logging out)
4. Observe that the next hydrate reminder doesn't appear until an additional 5 minutes

**Expected Behavior**
The hydrat

[2021-07-11 07:27] #52 closed

[2021-07-11 07:27] #54 closed

[2021-07-11 11:45] jmakhack opened #56 "Ignore all deprecated tests to be able to bump jUnit version"
**Task Context**

In order to improve the unit testing for this project, all previously created unit tests will be deprecated so that the jUnit version can be updated without breaking the build.

The jUnit library upgrade has already been triggered by the automated dependabot in a [pull request](https://github.com/jmakhack/hydrate-reminder/pull/48).

Once this change has been made, the build for t

[2021-07-12 09:22] #38 closed

[2021-07-13 08:11] #56 closed

[2021-07-13 09:33] jmakhack opened #58 "Hydrate reminder icon does not appear in messages after install until logging out and logging back in"
**Describe the bug**
When first installing the hydrate reminder plugin, the welcome message and hydrate reminder messages do show up when expected. However, the hydrate icon is missing from all the messages. Logging out and logging back in will properly load the icon but it should be properly loaded even before then.

**To Reproduce**
Steps to reproduce the behavior:
1.  Start the RuneLite client

[2021-07-13 10:17] jmakhack opened #60 "Fix strange message spacing offset of hydrate reminder broadcast messages"
**Describe the bug**
With chat notifications enabled and the chat type set to `Broadcast Message`, the spacing of the hydrate reminder message in the chat box looks a bit off.

**To Reproduce**
Steps to reproduce the behavior:
1.  Enable chat notifications for hydrate reminder and set the chat type to `Broadcast Message`
2.  Wait for a hydrate reminder message to generate
3.  Observe that the spac

[2021-07-14 10:31] jmakhack opened #64 "Review all text from plugin and revise where needed"
## Bug Description

As part of the v1.1.1 release, it would be nice to review over all the text that was written for this plugin. This includes the README, configuration options, welcome messages, and hydrate reminder messages. Wherever the text is not clear or is inconsistent with other text, it should be edited and improved.

## Steps to Reproduce

1. Review all text from plugin

## Expected Beh

[2021-07-14 12:12] jmakhack opened #65 "Add hydrate reminder countdown timer to overlay"
## Feature Reasoning

Currently the only way to view how much time is remaining until the next hydrate break is to use the `::hydrate next` command. It would be nice to be able to constantly view the remaining time until the next interval without the need of a chat command.

## Feature Description

The work for this feature is to create a visible overlay on the client that constantly displays a co

[2021-07-14 12:19] jmakhack opened #66 "Text for next and prev commands should not display hours and/or minutes when not needed"
## Bug Description

Instead of showing `0 hours...`, only show minutes and seconds for `::hydrate next` and `::hydrate prev` commands. Also instead of showing `0 hours 0 minutes...`, only show seconds for the commands. Basically, only show the time units that are needed. When the larger time units are 0, remove all that are unnecessary.

## Steps to Reproduce

1. Set the hydrate reminder interval

[2021-07-15 09:44] jmakhack opened #67 "Hours, minutes, and seconds are always displayed as plural for next and prev commands"
## Bug Description

When using the `::hydrate next` and `::hydrate prev` commands, the output text for hours, minutes, and seconds is always displayed in plural even when it shouldn't be. As a result, it can sometimes display incorrectly like the following: `1 hours 1 minutes 1 seconds`.

## Steps to Reproduce

1. Set the hydrate interval to 2 minutes
2. Run the chat command `::hydrate next`
3. Ob

[2021-07-16 09:03] #67 closed

[2021-07-16 11:11] #60 closed

[2021-07-16 11:14] #20 closed

[2021-07-16 12:33] medkhabt commented on #66
@jmakhack  Hi if i understand correctly, if hours change to "0 hours" at any time, we shouldn't display the hours.

[2021-07-18 09:59] #66 closed

[2021-07-19 01:47] #64 closed

[2021-07-19 09:48] #58 closed

[2021-07-19 10:52] jmakhack opened #75 "Bump version number to v1.1.1"
## Task Context

Bump the version number in the build.gradle to v1.1.1.
Also, revise any necessary documentation in preparations for the upcoming v1.1.1 release.

[2021-07-19 11:00] jmakhack opened #76 "Fix wrong text being generated for prev command"
## Bug Description

When running the `::hydrate prev` command, the time displayed is correct but the text is wrongly displaying the text for `::hydrate next` instead.

## Steps to Reproduce

1. Run the `::hydrate prev` command in chat
2. Observe that the time displayed is correct but the text is wrong

## Expected Behavior

`::hydrate prev` command should show the appropriate text similar to v1.1.

[2021-07-19 11:14] #76 closed

[2021-07-20 02:34] jmakhack commented on #33
Moving this task to v1.2.0 to allow for v1.1.1 release.

[2021-07-20 05:43] #75 closed

[2021-07-25 05:49] jmakhack commented on #41
Closing this for now as this issue and the corresponding PR has been open for over 2 months now with no new activity.
It can be reopened and revisited when ready.

[2021-07-25 05:49] #41 closed

[2021-07-28 00:55] jmakhack opened #81 "Add basic configuration options for overlay timer"
## Feature Reasoning

Not everyone would like to use the hydrate reminder overlay timer implemented as part of #65.\
Some users may want to use the overlay timer but would like it placed in a different location in the client.\
As a result, configuration options should be available for this feature.

## Feature Description

There should be two main configuration options for the new overlay timer fe

[2021-07-28 01:26] jmakhack opened #82 "Prev command should not display time when no hydration breaks have been taken yet"
## Bug Description

When initially logging in and running the `::hydrate prev` command before any hydration breaks have been triggered, the command will display a time since the last hydration break. Since no hydration breaks have been taken yet, it should display a separate message instead.

## Steps to Reproduce

1. Login to OSRS via RuneLite client
2. Before any hydrate reminder intervals have

[2021-07-28 08:17] jmakhack opened #83 "Prev command should take resets into account"
## Bug Description

After doing a `::hydrate reset`, the `::hydrate prev` command displays the time since the reset but displays the following message: `x minutes y seconds since the last hydration break.`. Resets should not be referred to as a `hydration break`.

## Steps to Reproduce

1. Login to OSRS via the RuneLite client
2. Enter the `::hydrate reset` command into the chatbox
3. Enter the `:

[2021-07-28 08:33] jmakhack opened #84 "Add support for shortened command aliases"
## Feature Reasoning

The current hydrate reminder chat commands function well, but typing out commands such as `::hydrate reset` would be easier if it could be shortened to just a few letters.

## Feature Description

Add a command alias for `::hydrate` such as `::hr`.
Add a command alias for each of the command parameters `prev`, `next`, `reset`, and `help`: `p`, `n`, `r`, and `h`.

[2021-07-28 09:00] jmakhack opened #85 "Add more unique welcome messages to cycle through"
## Feature Reasoning

There can always be more welcome messages to cycle from.\
The current list of 12 starts to repeat itself not after long.

## Feature Description

Add a variety of new welcome messages for the plugin to cycle from.\
The goal for the v.1.2.0 release is to have at least 30 unique welcome messages.

## Additional Context

Current set of welcome messages:
![welcome_text](https://u

[2021-07-28 09:03] jmakhack opened #86 "Add more unique hydrate reminder messages to cycle through"
## Feature Reasoning

There can always be more hydrate reminder messages to cycle through.\
The current list of 12 starts to repeat itself not after long.

## Feature Description

Add a variety of new hydrate reminder messages for the plugin to cycle through.\
The goal for the v.1.2.0 release is to have at least 30 unique hydrate reminder messages.

## Additional Context

Current set of hydrate re

[2021-07-28 09:13] jmakhack opened #87 "Add contact and feedback info to documentation"
## Task Context

Add contact info to README as well as a form to submit any form of feedback which can be used by those without a GitHub account or by those who simply want to leave some anonymous feedback.

[2021-07-29 09:21] jmakhack opened #88 "Add a chat command to view the total number of hydration breaks taken"
## Feature Reasoning

Just for fun or possibly for a minor sense of player accomplishment, it would be neat to see the total number of hydration breaks taken during the current RuneLite session as well as for all time.

## Feature Description

Add a new chat command `::hydrate total` that displays the total amount of hydration breaks taken from the beginning of when the plugin (v1.2.0+) gets insta

[2021-07-29 13:02] medkhabt commented on #82
@jmakhack
I'll work on this one.

[2021-08-01 03:47] #86 closed

[2021-08-01 06:55] #82 closed

[2021-08-01 07:27] #84 closed

[2021-08-01 09:11] jmakhack commented on #33
Going to remove old tests and add a few small tests as part of this issue and just close it.
I will open a new ticket without a milestone for improving the unit tests as an ongoing task for myself or others to pick up.

[2021-08-01 09:31] #33 closed

[2021-08-02 04:16] #87 closed

[2021-08-02 09:03] jmakhack commented on #88
Leaving this comment here from @paulritzman 's earlier PR for reference.

The logic for retrieving the number of hydration breaks during the current session is now implemented.
The remaining work for this issue is to implement the `All time: _ hydration breaks.` functionality.

[2021-08-02 11:45] jmakhack opened #99 "Project structure refactoring"
## Task Context
Despite hydrate-reminder being a relatively small project, it's main logic within `HydrateReminderPlugin.java` is well over 600 lines of code in length. As new enhancements are continually being planned for this project, this one class containing all the main logic can easily get out of hand and hard to maintain as time goes on.

As a result, I think this is a good point to start d

[2021-08-03 18:01] #83 closed

[2021-08-03 20:24] jmakhack commented on #65
Some official plugins that can be used for reference on how to implement this:

**Ammo Plugin**
https://github.com/runelite/runelite/tree/master/runelite-client/src/main/java/net/runelite/client/plugins/ammo
This plugin displays the number of arrows the player has equipped as an overlay widget.
This can be seen as the second widget in the screenshot above. This should be a good reference to use du

[2021-08-03 20:27] jmakhack commented on #81
As an added bonus, it would be cool to include a configurable option for the color of the timer text in the overlay widget. This is optional for the completion of this enhancement but a nice to have if it is a possible setting we could add.

[2021-09-12 10:58] jmakhack opened #106 "Overlay timer displays wrong value when time remaining is 100+ minutes"
## Bug Description

When the remaining time until the next hydrate break is 100+ minutes, the overlay timer displays the wrong value.
For example, when the time remaining is 102 minutes and 34 seconds, the overlay will falsely display 02:34.
This is due to the overlay currently only supporting the MM:SS format so it will cut off any minute values > 99.

## Steps to Reproduce

Note: This behavior w

[2021-09-13 21:53] dcechano commented on #106
Where is the text calculated? I notice that the tests regarding output strings do pass.

[2021-09-13 22:32] jmakhack commented on #106
@dcechano
The text calculation for this can be found in the getText method of HydrateReminderTimer which is currently in review: https://github.com/jmakhack/hydrate-reminder/pull/107/files

The text will actually show the correct value now, but I would still like the maximum to be reduced to 90 minutes since anything over 100 minutes will cause the text to overflow and not look good. Realistically

[2021-09-15 18:36] #65 closed

[2021-09-19 03:01] #85 closed

[2021-09-19 03:09] jmakhack opened #110 "Update docs and version numbers for v1.2.0 release"
## Task Context

As the v1.2.0 issues are all nearing completion, this task is to prepare the docs and bump the version numbers for this release.

This issue is to be done after all the other v1.2.0 issues are complete.

[2021-10-21 10:15] jmakhack opened #112 "Bump actions/checkout from 2.3.4 to 2.3.5"
## Task Context

A new patch version has been released for `actions/checkout` which is used in this project's GitHub actions.
Bump the version from 2.3.4 to 2.3.5 in both `.github/workflows/codeql-analysis.yml` and `.github/workflows/gradle.yml`.

## Additional Context

After creating the pull request, the GitHub actions should be automatically run.
Verify that all the pull request pre-checks are

[2021-10-21 10:48] jmakhack opened #113 "Update the command args enum to include aliases as part of each enum value"
## Task Context

Currently, the `HydrateReminderCommandArgs` enum found in `src/main/java/com/hydratereminder/HydrateReminderCommandArgs.java` has a separate enum value for both command names and command aliases.
This task is to have both the command name and alias be combined into the same enum value.

For example, `NEXT("next")` and `N("n")` should not be separate enum values.
Instead, they shou

[2021-10-21 10:53] jmakhack opened #114 "Bump RuneLite version"
## Task Context

A new patch version has been released for `RuneLite` which needs to be reflected in this project in order to accurately test new enhancements and bugfixes.
Bump the RuneLite version in `build.gradle` to match the latest release version as specified on [RuneLite.net](https://runelite.net/).

## Hacktoberfest Details

I will assign this issue to the first person who comments on this

[2021-10-21 13:08] NeboCode commented on #114
Hey, please assign this to me, thank you.

[2021-10-21 18:53] #114 closed, assigned to NeboCode

[2021-10-22 09:14] #113 closed, assigned to hpa16

[2021-10-22 10:16] #112 closed, assigned to LiorBitton

[2021-10-23 07:06] jmakhack opened #122 "Add getValue method to HydrateReminderCommandArgs"
## Task Context

As of #117, the `HydrateReminderCommandArgs` enum found in `src/main/java/com/hydratereminder/HydrateReminderCommandArgs.java` now combines the command arg name and alias into a singular enum value.
This task is to create a method `getValue` within the `HydrateReminderCommandArgs` enum class which takes in a string value (either command arg name or alias) and returns the enum valu

[2021-10-23 08:00] #122 closed, assigned to jmakhack

[2021-10-31 02:20] jmakhack opened #123 "Add troubleshooting/FAQ section to contribution docs"
## Task Context

Especially for newcomers who want to contribute to this project, it would be useful to have a section in the contribution docs for commonly asked questions, troubleshooting tips, and general development FAQs.

Some examples of items to include there are java compatibility issues, runelite versioning issues, and java vm issues.

[2021-10-31 06:31] jmakhack commented on #110
Since v1.2.0 has been changed to v2.0.0 due to a good amount of major features being added, part of this work would also include going into the code and changing all the references to v1.2.0 to v2.0.0.

[2021-11-04 07:01] LiorBitton commented on #106
Hey @jmakhack , I solved the issue but did not build the java project

[2021-11-05 19:57] #106 closed

[2022-07-02 06:22] jmakhack commented on #81
Opened PR #136 which adds several configuration options for the overlay timer such as:
1.     Enable/Disable timer overlay
2.     Add ability to select text color on overlay
3.     Add images to select from to display on overlay

I will open a separate issue to look into and implement the configuration option that decides the location of the overlay timer on the UI as described in Part 2 of the Fe

[2022-07-02 08:55] #81 closed

[2022-07-03 12:57] jmakhack opened #137 "Fix label display for overlay timer image configuration option"
## Bug Description

In the hydrate reminder configuration options, the timer overlay display image drop-down selector does not have a label so the user has no indication of what the drop-down options are for.

## Steps to Reproduce

1. Open the configuration options for the hydrate reminder plugin
2. See under the Timer Overlay Display options that the image drop-down menu does not have a label

#

[2022-07-03 13:09] jmakhack opened #138 "Fix unnecessary removal and creation of overlay timer on every game tick"
## Task Context

In the `onGameTick` method, logic is applied to remove the currently displayed overlay timer and initialize a new one on every single game tick. This is certainly not ideal from a best practices standpoint due to the unnecessary amounts of re-initialization of the overlay timer.

A much better method of handling this logic is to only remove the overlay timer whenever the enable/di

[2022-07-03 13:14] jmakhack opened #139 "Add static clock for mocking purposes in unit tests"
## Task Context

In the unit tests for `src/main/java/com/hydratereminder/HydrateReminderPlugin.java`, there is a test commented out due to the need of a static clock within the class in order to properly mock and override certain timing logic. The work for this task is to implement this such that the unit test within `src/test/java/com/hydratereminder/HydrateReminderPluginTest.java` can then be u

[2022-07-04 00:42] jmakhack commented on #88
For reference, the remaining work required to close this can be found in the following method found within `src/main/java/com/hydratereminder/HydrateReminderPlugin.java`:

![todosessions](https://user-images.githubusercontent.com/1442227/177063501-52fc9241-f985-469a-8a68-608facb8e28c.png)

[2022-07-04 09:10] jmakhack opened #140 "Improve organization of overlay timer images selection list"
## Bug Description

Though the overlay timer image drop-down configuration option categorizes the images into different sections (such as water, food, and potions), the options within each of those sections appear to be completely random in order. For example, `Spicy Sauce` and `Special Hot Sauce` are about 10 items apart on the selection list when they should probably be placed next to one anothe

[2022-07-04 09:26] jmakhack opened #141 "Add a new section header for notification configuration options"
## Feature Reasoning

Now that the hydrate reminder plugin has a multitude of configuration options, the configuration menu can look a bit overwhelming without proper organization and sectioning of the various options.

## Feature Description

Similarly to the newly added `Overlay Timer Display` section header, add a new section header named `Notification Settings` that includes the `Chat notifica

[2022-07-04 09:44] jmakhack opened #142 "Research adding configuration option for setting the position of the overlay timer"
## Feature Reasoning

The overlay timer (when enabled) is displayed in the upper left corner of the screen. Not all users my want it displayed in that location so having a configuration option to be able to display it on other parts of the UI would be nice.

## Feature Description

This enhancement is to add a configuration option that presents a drop-down list of various locations where the overl

[2022-07-04 10:01] jmakhack commented on #110
Note: As part of this task, the copyright year/info within the code also needs to be updated accordingly.

[2022-07-05 10:42] jmakhack opened #143 "Add new welcome messages to the existing list"
## Feature Reasoning

Though the plugin already has a good amount of different welcome messages, it would always be neat to have more!

## Feature Description

Add any number of new welcome messages to the existing list of welcome messages. They should be unique and creative to distinguish themselves from the existing messages.

## Possible Alternatives

If you are not a coder, you are also welcom

[2022-07-05 11:17] jmakhack opened #144 "Add configurable personalities for the hydrate reminder messages"
## Feature Reasoning

Not everyone wants to see a random hydration related message every time it is time to take a hydration break.

## Feature Description

This feature is to add a new drop-down configuration option to the menu that allows users to select from a list of different "personalities" for the reminder messages. For now, implementation work should be done for two personalities: `straigh

[2022-07-05 11:44] jmakhack opened #145 "Add chat command for when the user hydrates between interval"
## Feature Reasoning

Sometimes a player may opt to take a quick hydrate break before the next reminder comes up. Having a `hydrate` chat command to notify the plugin that hydration has occurred would be nice to have for these instances.

## Feature Description

Add a new chat command `hydrate` which does the two following things:

1. Resets the current hydrate reminder interval
2. Increases the t

[2022-07-06 03:27] jmakhack opened #146 "Perform a hydration animation whenever a hydration break is occurring"
## Feature Reasoning

It would be fun to have an animation played whenever it is time to take a hydration break and also whenever the `hydrate` chat command is used.

## Feature Description

There should be two things done as part of the implementation work for this feature request:
1. Add a new configuration option for enabling/disabling this `Hydrate animation` setting
    - See `com/hydrateremi

[2022-07-06 05:18] jmakhack opened #147 "Identify best animations to use during hydration breaks"
## Task Context

As noted in issue #146, there may be better animationIDs to utilize during a hydration break that better represent the player hydrating.

One thing to note is that in the `animationID` class, the comments indicate that not all possible animations are represented by the defined constants within the class:

Note: This class is not complete and may not contain a specific animation re

[2022-07-06 05:25] jmakhack opened #148 "Add new configuration menu section header for animation settings"
## Feature Reasoning

With the addition of animation configuration options in this release, they should be sectioned off in the configuration menu for better organization and overall clarity.

## Feature Description

There should be a new section header in the plugin configuration menu for `Animation settings` at the bottom. As of the writing of this feature request, there are no configuration opt

[2022-07-07 01:09] goncalo-machado commented on #139
Hello, I am new to open source and would like to work on this issue.

[2022-07-07 01:13] jmakhack commented on #145
@Diemarg yes, feel free to start working on this and submit a pull request when ready :)

[2022-07-08 01:00] #139 closed

[2022-07-12 00:07] jmakhack commented on #140
It's all yours, @TrevorJames95. Just create a pull request when the changes are ready and feel free to ask me any questions if needed.

[2022-07-12 05:56] Diemarg commented on #145
Hi @jmakhack , I finished working on this issue and all the unit test work, but is there a way to test it in runelite, I have hit a wall in that aspect.

[2022-07-14 10:52] jmakhack commented on #145
Hi @Diemarg, the links @Kh1ng are a good place to start. The steps within https://github.com/runelite/plugin-hub/blob/master/README.md are useful to follow. Step 6 under the `Using the template repository` section is especially important for things to work (adding `-ea` to `VM options`). Also, the file to run is [HydrateReminderTest.java](https://github.com/jmakhack/hydrate-reminder/blob/master/sr

[2022-07-16 10:53] #145 closed

[2022-07-27 09:43] jmakhack opened #160 "Show example computer notification when option is enabled"
## Feature Reasoning

It is not immediately clear what the Computer Notification option will appear like. It would be nice to have an example notification pop up whenever the option is toggled to enable just to see how the notifications will look like when active.

## Feature Description

Whenever the user toggles on the Computer notification option on the configuration menu, an example notificati

[2022-07-27 09:54] jmakhack opened #161 "Show example chat notification whenever option is enabled or type is updated"
## Feature Reasoning

It is not immediately clear what the Chat notification option will appear like. It would be nice to have an example chat notification appear whenever the option is toggled to enable and also whenever the type of chat notification is updated just to see how the notifications will look like when active.

## Feature Description

Whenever the user toggles on the Chat notification

[2022-07-27 09:59] jmakhack opened #162 "Fix "File does not end with a newline." Codacy issue"
## Task Context
Fix the `File does not end with a newline.` issue reported by the Codacy code style checker.
More details on the issue can be found here: https://app.codacy.com/gh/jmakhack/hydrate-reminder/issues?categoryType=CodeStyle

## Screenshots

![Screenshot_20220727_025733](https://user-images.githubusercontent.com/1442227/181219863-2f9a299a-684a-4fda-ab7a-3cda9980cc8b.png)

[2022-07-29 17:31] mslowiak commented on #146
hi @jmakhack, I would like to work on this issue

[2022-07-29 19:12] jmakhack commented on #146
@mslowiak, it's all yours! Feel free to ask any questions here if needed or just open a pull request when ready.

[2022-07-30 07:27] mslowiak commented on #144
@jmakhack Can I pick this up?

[2022-07-30 07:42] #146 closed

[2022-07-30 07:43] jmakhack commented on #144
@mslowiak sure, go for it! :)

[2022-07-30 07:46] mslowiak commented on #144
@jmakhack
I have just a question regarding testing the code in Runescape like shown on this video: https://www.youtube.com/watch?v=-eTTrlFoKPc
So basically building the runelite-client adding there the classes from this plugin repository.

I saw there is a `HydrateReminderTest` that runs the RuneLite, but the plugin is not included on startup. Could you help here?

[2022-07-30 07:49] mslowiak commented on #144
@jmakhack
And one question regarding the position of this option? Where should it be located in the menu?

[2022-07-30 08:11] jmakhack commented on #144
@mslowiak This comment I made to help someone get their build working might help you here: https://github.com/jmakhack/hydrate-reminder/issues/145#issuecomment-1184297236. `HydrateReminderTest.java` should startup the client and plugin when run after following those steps.

And yes, the option can be placed anywhere in the configuration menu for now with a dropdown select. The placement in the men

[2022-07-30 08:31] mslowiak commented on #144
Okay, I had outdated `runeLiteVersion` in gradle file. Thanks!

[2022-07-30 08:40] mslowiak commented on #148
@jmakhack I will work on that

[2022-07-30 08:49] mslowiak commented on #141
@jmakhack I will work on that as well

[2022-07-30 23:12] #141 closed

[2022-07-30 23:57] #148 closed

[2022-07-31 09:42] jmakhack opened #171 "Improve documentation for building and running code"
## Task Context

There have been multiple contributors who have reported issues regarding building and running the project code. This task is to make it easier for new contributors to figure out how to properly do this. My current thoughts on improving this are to do the following:

1. Add a Building & Running Code section to the Contributing doc
2. Add a link to this section of the doc as part of

[2022-07-31 09:52] jmakhack opened #172 "Investigate adding sound effects options to the plugin"
## Task Context

This task is to investigate the possibility of adding sound effect options for whenever the user hydrates (similarly to the newly added animation options).

The end result of this task is to:

1. Determine if this is possible and if so, what exactly is possible
2. Open new issues to implement any wanted enhancements

[2022-07-31 10:09] jmakhack opened #173 "Remove references to ::hydrate in favor of ::hr"
## Feature Reasoning

The original `::hydrate` command is quite lengthy to type out and is generally not recommended over the `::hr` alias which is much easier to type.

## Feature Description

The goal of this enhancement is to allow the `::hydrate` command to remain functional for legacy purposes, but remove it from any user-facing documentation in favor of `::hr`.

There are three parts to this

[2022-07-31 10:48] Krishpandya682 commented on #173
Hi, I would like to work on this

[2022-07-31 10:57] jmakhack commented on #173
@Krishpandya682, it's all yours! :)
Just open a pull request when you're ready.

------

In case you have issues building the code, you can refer to: https://github.com/jmakhack/hydrate-reminder/issues/145#issuecomment-1184297236

[2022-07-31 14:09] mslowiak commented on #171
This is a good one @jmakhack! Would be great to have it in readme <3

[2022-08-01 01:16] #144 closed

[2022-08-01 05:13] #173 closed

[2022-08-10 08:43] jmakhack commented on #99
The goal now is to separate out all the methods within `HydrateReminderPlugin.java` into logical classes. The only methods that remain within that class should be the RuneLite based event handlers such as `onGameTick`. All other helper methods should be refactored out of the class into handler, dispatcher, utils, etc. type classes.

The output of this ticket now is not to complete the refactoring

[2022-08-13 11:14] jmakhack opened #177 "Remove welcome text class variable in HydrateReminderPlugin.java"
## Task Context

As part of #175, the welcome messages were extracted from [HydrateReminderPlugin.java](https://github.com/jmakhack/hydrate-reminder/blob/master/src/main/java/com/hydratereminder/HydrateReminderPlugin.java) into its own dictionary class: [HydrateWelcomeMessageDictionary.java](https://github.com/jmakhack/hydrate-reminder/blob/master/src/main/java/com/hydratereminder/dictionary/Hydra

[2022-08-13 12:13] jmakhack opened #178 "Fix keyName of hydrate animation configuration setting"
## Task Context

In #163, a new configuration setting that enables/disables the hydration animation mode was added.

However in [HydrateReminderConfig.java](https://github.com/jmakhack/hydrate-reminder/blob/master/src/main/java/com/hydratereminder/HydrateReminderConfig.java), the keyName for the `hydrateAnimationEnabled()` configItem appears to have been improperly set to `"hydrateReminderWelcomeM

[2022-08-13 12:23] jmakhack opened #179 "Use string constant in help message"
## Task Context

https://github.com/jmakhack/hydrate-reminder/blob/aebf4463468bb377e46ac730816b14b8645df01d/src/main/java/com/hydratereminder/HydrateReminderPlugin.java#L476-L477

In the above code, there is a direct reference to `"::"` which is the command prefix that all chat commands in RuneLite uses. There is a constant defined in HydrateReminderPlugin.java that should be used here: `RUNELITE_

[2022-08-14 00:35] FinnPixel commented on #177
Removed the class variable.
All tests passed, did not encounter any problems.
Please verify my changes :)

[2022-08-14 02:40] jmakhack commented on #177
Thanks for contributing, @FinnPixel! I will verify your changes later today.

[2022-08-14 08:05] #177 closed

[2022-08-14 12:30] jmakhack opened #182 "Add unit tests for HydrateWelcomeMessageDictionary.java"
## Task Context

As part of #175, a new class was created: [HydrateWelcomeMessageDictionary.java](https://github.com/jmakhack/hydrate-reminder/blob/master/src/main/java/com/hydratereminder/dictionary/HydrateWelcomeMessageDictionary.java).

The goal of this issue is to add new unit tests for this new class. The new test class should go in `src/test/java/com/hydratereminder/dictionary` and be named

[2022-08-14 12:33] jmakhack opened #183 "Add new issue template for tasks"
## Task Context

Currently in order to open a task issue, another issue template has to first be loaded then deleted and changed to have the proper task issue format.

The goal of this task is to add a new Github Issue Template for tasks.

[2022-08-14 23:40] jmakhack commented on #99
For reference, here is the current UML class diagram of the project:
![image](https://user-images.githubusercontent.com/1442227/184559136-420d1c36-fbb5-4cb5-9116-1f907a6e34c0.png)

[2022-08-15 02:21] sohamangoes commented on #182
@jmakhack can I work on this?

[2022-08-15 02:23] sohamangoes commented on #179
@jmakhack May I take this up?

[2022-08-15 07:56] jmakhack commented on #179
@sohamangoes, yes it's all yours if you're still interested on working on this! :)

[2022-08-15 07:56] jmakhack commented on #182
Go for it, @sohamangoes! :)

[2022-08-15 09:49] #183 closed

[2022-08-15 09:54] jmakhack opened #187 "Update security policy with documentation for 2.x.x versions support"
## Task Context

The current security policy only shows support for `1.x.x` versions of this project.
With the upcoming 2.0.0 release, the security policy needs to be updated appropriately.

## Acceptance Criteria / Goals

Update the security policy found in `SECURITY.md` to show that `2.x.x` versions of this project are supported. Every other version support info should remain as is.

[2022-08-16 06:11] #179 closed

[2022-08-16 06:15] #182 closed

[2022-08-16 06:19] jmakhack commented on #143
Closing this issue for now since the welcome messages have been moved to a separate class and there is already a good number of welcome messages. I may open up a separate issue with updated details on how to contribute new welcome messages in the future.

[2022-08-16 06:19] #143 closed

[2022-08-16 06:21] jmakhack commented on #88
Closing this issue since the basic logic has already been completed. The remaining work should be separated out into its own feature enhancement issue after some initial investigation so that the proper details can be provided in the issue description.

[2022-08-16 06:21] #88 closed

[2022-08-16 10:38] sohamangoes commented on #162
@jmakhack I'd like to take this up :)

[2022-08-16 18:13] jmakhack commented on #162
@sohamangoes go for it!

[2022-08-17 00:16] sohamangoes commented on #162
Hey @jmakhack sorry I checked this link too late
https://app.codacy.com/gh/jmakhack/hydrate-reminder/issues

Looks like this is not appearing on the dashboard - I verified `HydrateReminderTest` source file as depicted in the screenshot;
It appears to have a newline at EOF. Should this issue be closed? I don't see any action on this :) Let me know, thanks!

[2022-08-17 11:31] jmakhack commented on #162
@sohamangoes ah yeah, looks like the issue is no longer there. Thanks for confirming this. I'll close this issue.

[2022-08-17 11:31] #162 closed

[2022-08-17 11:33] #123 closed

[2022-08-20 09:22] jmakhack opened #191 "Add new hydrate message personality type: Motivational"
## Feature Reasoning

With the introduction of personality types for hydration break messages, it would be nice to add more new personality types. One such personality type to add is: `motivational`.

## Feature Description

The purpose of this feature request is to add a new personality type `motivational` to the currently existing personality types available for the hydrate break messages. The n

[2022-08-20 09:37] jmakhack opened #192 "Add new hydrate message personality type: Hype"
## Feature Reasoning

With the introduction of personality types for hydration break messages, it would be nice to add more new personality types. One such personality type to add is: `hype`.

## Feature Description

The purpose of this feature request is to add a new personality type `hype` to the currently existing personality types available for the hydrate break messages. The new personality t

[2022-08-21 11:15] jmakhack opened #193 "Add new hydrate message personality type: Aggressive"
## Feature Reasoning

With the introduction of personality types for hydration break messages, it would be nice to add more new personality types. One such personality type to add is: `aggressive`.

## Feature Description

The purpose of this feature request is to add a new personality type `aggressive` to the currently existing personality types available for the hydrate break messages. The new p

[2022-08-21 11:18] jmakhack opened #194 "Add new hydrate message personality type: Caring"
## Feature Reasoning

With the introduction of personality types for hydration break messages, it would be nice to add more new personality types. One such personality type to add is: `caring`.

## Feature Description

The purpose of this feature request is to add a new personality type `caring` to the currently existing personality types available for the hydrate break messages. The new personali

[2022-08-21 11:26] jmakhack opened #195 "Add new hydrate message personality type: Polite"
## Feature Reasoning

With the introduction of personality types for hydration break messages, it would be nice to add more new personality types. One such personality type to add is: `polite`.

## Feature Description

The purpose of this feature request is to add a new personality type `polite` to the currently existing personality types available for the hydrate break messages. The new personali

[2022-08-21 11:30] jmakhack opened #196 "Add new hydrate message personality type: Kawaii"
## Feature Reasoning

With the introduction of personality types for hydration break messages, it would be nice to add more new personality types. One such personality type to add is: `kawaii`.

## Feature Description

The purpose of this feature request is to add a new personality type `kawaii` to the currently existing personality types available for the hydrate break messages. The new personali

[2022-08-21 11:34] jmakhack opened #197 "Add new hydrate message personality type: Romantic"
## Feature Reasoning

With the introduction of personality types for hydration break messages, it would be nice to add more new personality types. One such personality type to add is: `romantic`.

## Feature Description

The purpose of this feature request is to add a new personality type `romantic` to the currently existing personality types available for the hydrate break messages. The new perso

[2022-08-21 11:39] jmakhack opened #198 "Add new hydrate message personality type: Nerdy"
## Feature Reasoning

With the introduction of personality types for hydration break messages, it would be nice to add more new personality types. One such personality type to add is: `nerdy`.

## Feature Description

The purpose of this feature request is to add a new personality type `nerdy` to the currently existing personality types available for the hydrate break messages. The new personality

[2022-08-21 11:42] jmakhack opened #199 "Add new hydrate message personality type: Pirate"
## Feature Reasoning

With the introduction of personality types for hydration break messages, it would be nice to add more new personality types. One such personality type to add is: `pirate`.

## Feature Description

The purpose of this feature request is to add a new personality type `pirate` to the currently existing personality types available for the hydrate break messages. The new personali

[2022-08-21 11:55] jmakhack opened #200 "Add new hydrate message personality type: Random"
## Feature Reasoning

With the introduction of personality types for hydration break messages, it would be nice to have a `random` personality type that essentially chooses a random personality to use for every message for a somewhat "full" or "chaotic" experience.

## Feature Description

The purpose of this feature request is to add a new personality type `random` to the currently existing perso

[2022-08-23 09:06] #171 closed

[2022-08-24 10:54] jmakhack commented on #142
Changing this to a research task and will open a separate issue for the implementation work with a more detailed explanation on how to implement the feature.

[2022-08-24 11:04] jmakhack commented on #142
Doing a quick search through the RuneLite APIs, I was able to find the classes and methods for handling overlay logic here: https://static.runelite.net/api/runelite-client/net/runelite/client/ui/overlay/package-summary.html

In particular the `OverlayPosition` enum would be most important in the investigation on how to implement this feature: https://static.runelite.net/api/runelite-client/net/run

[2022-09-02 10:50] #187 closed

[2022-09-02 10:51] #178 closed

[2022-09-03 12:25] jmakhack opened #204 "Research potential options for adding a linter as a Github action"
## Task Context

Explore options for adding a linter as a Github action that checks that code style is properly adhered to for each pull request.
One such potential action to look into is: https://github.com/marketplace/actions/super-linter

As more potential contributors jump on to help out with this project, having a linter that blocks pull requests until the code adheres to the current style wi

[2022-09-09 01:30] jmakhack opened #205 "Cleanup position values of the plugin configuration options"
## Task Context

Currently the position values of the configuration options in [HydrateReminderConfig.java](https://github.com/jmakhack/hydrate-reminder/blob/master/src/main/java/com/hydratereminder/HydrateReminderConfig.java) are somewhat messy with some options having seemingly random position values.

## Acceptance Criteria / Goals

The goal of this task is to cleanup the values of the position

[2022-09-09 08:48] mslowiak commented on #99
@jmakhack I prepared some skeleton for the refactoring. Please take a look and share your thoughts.

[2022-09-10 21:11] AlexMihalache99 commented on #194
Hi @jmakhack! Is this issue still open?  I would like to contribute on it.

[2022-09-11 00:01] jmakhack commented on #194
Hi @AlexMihalache99. It's all yours! :)

[2022-09-11 11:04] jmakhack opened #207 "Show informative tooltip when mouse is hovered over infobox"
## Feature Reasoning

When hovering over the hydrate reminder infobox overlay box, it would be nice to see an informative tooltip that indicates what the overlay is for.

## Feature Description

When the mouse cursor is hovered over the hydrate reminder overlay, display a tooltip that says `Time until next hydration break`.

![image](https://user-images.githubusercontent.com/1442227/189523920-e0c1

[2022-09-22 11:12] #194 closed

[2022-09-22 21:30] mslowiak opened #211 "Extract chat messages logic to separate class"
## Task Context
As a next steps when working on project refactoring, we decided to extract the code that is handling specific commands to separate classes. In order to do that, we need to extract firstly the piece of code that is responsible for sending messages to reuse it in the new handler classes.

## Acceptance Criteria / Goals
- Messaging logic is extracted to dedicated class `ChatMessageSen

[2022-09-22 21:37] mslowiak opened #212 "Extract help command logic to proper handler"
## Task Context
As a next steps when working on project refactoring, we decided to extract the code that is handling specific commands to separate classes.
This task is about extracting current `help` command logic from `HydrateReminderPlugin` class to `HelpCommandHandler` class.

## Acceptance Criteria / Goals
- `help` command logic is extracted to dedicated class `HelpCommandHandler`
- `HydrateR

[2022-09-22 21:38] mslowiak opened #213 "Extract hydrate command logic to proper handler"
## Task Context
As a next steps when working on project refactoring, we decided to extract the code that is handling specific commands to separate classes.
This task is about extracting current `hydrate` command logic from `HydrateReminderPlugin` class to `HydrateCommandHandler` class.

## Acceptance Criteria / Goals
- `hydrate` command logic is extracted to dedicated class `HydrateCommandHandler`

[2022-09-22 21:39] mslowiak opened #214 "Extract next command logic to proper handler"
## Task Context
As a next steps when working on project refactoring, we decided to extract the code that is handling specific commands to separate classes.
This task is about extracting current `next` command logic from `HydrateReminderPlugin` class to `NextCommandHandler ` class.

## Acceptance Criteria / Goals
- `next` command logic is extracted to dedicated class `NextCommandHandler`
- `Hydrate

[2022-09-22 21:40] mslowiak opened #215 "Extract prev command logic to proper handler"
## Task Context
As a next steps when working on project refactoring, we decided to extract the code that is handling specific commands to separate classes.
This task is about extracting current `prev` command logic from `HydrateReminderPlugin` class to `PrevCommandHandler ` class.

## Acceptance Criteria / Goals
- `prev` command logic is extracted to dedicated class `PrevCommandHandler`
- `Hydrate

[2022-09-22 21:41] mslowiak opened #216 "Extract reset command logic to proper handler"
## Task Context
As a next steps when working on project refactoring, we decided to extract the code that is handling specific commands to separate classes.
This task is about extracting current `reset` command logic from `HydrateReminderPlugin` class to `ResetCommandHandler ` class.

## Acceptance Criteria / Goals
- `reset` command logic is extracted to dedicated class `ResetCommandHandler`
- `Hyd

[2022-09-22 21:41] mslowiak opened #217 "Extract total command logic to proper handler"
## Task Context
As a next steps when working on project refactoring, we decided to extract the code that is handling specific commands to separate classes.
This task is about extracting current `total` command logic from `HydrateReminderPlugin` class to `TotalCommandHandler ` class.

## Acceptance Criteria / Goals
- `total` command logic is extracted to dedicated class `TotalCommandHandler`
- `Hyd

[2022-09-23 15:52] macslowiak commented on #211
I would like to work on that issue @jmakhack

[2022-09-24 00:28] jmakhack commented on #211
Go for it @macslowiak! :)

[2022-09-25 12:20] jmakhack opened #219 "Create and link discord server"
## Task Context

Create a discord server for this project and other projects especially with the hacktoberfest event approaching. This discord server should be designed to be welcoming for new contributors to introduce themselves, ask any questions, collaborate with others, share ideas, promote their own projects and more!

The discord server should also be linked in various locations such as the

[2022-09-26 00:04] #211 closed

[2022-09-26 00:16] jmakhack opened #221 "Move personality type setting into the notification settings section"
## Feature Reasoning

The personality configuration setting affects the personality type for chat and computer notifications. As such, it should be grouped with those settings in the configuration menu.

## Feature Description

As seen in the screenshot below, the personality type configuration setting appears at the bottom of the configuration menu. This enhancement is to place that setting into

[2022-09-26 00:27] jmakhack opened #222 "Fix timer display hover tooltip description"
## Bug Description

The hover tooltip description for the timer display setting in the configuration menu contains a description for the wrong setting.

## Steps to Reproduce

1. Open the hydrate reminder configuration menu
2. Hover the mouse over the Timer Display setting
3. Observe that the wrong setting description is displayed

## Expected Behavior

The hover tooltip description for the timer

[2022-09-26 00:49] jmakhack opened #223 "Improve hover tooltip description for animation setting"
## Feature Reasoning

Just from looking into the configuration settings, it is unclear what the animation setting does. It would be nice to have a good descriptive explanation of what the setting does and is used for.

## Feature Description

This enhancement is to improve the hover tooltip description for the animation configuration setting such that it gives a clear explanation of what it exactl

[2022-09-26 06:04] ArshErgon commented on #222
hmmm, assign it to me..

[2022-09-26 11:40] jmakhack opened #224 "Add automation to set reviewers and assignees on pull requests"
## Task Context

At the moment, pull request reviewers and assignees have to be set manually either while a pull request is being created or after it has already been created. This adds a bit of unnecessary manual labor that should be able to be easily solved with some level of automation.

## Acceptance Criteria / Goals

Whan a new pull request is opened the two following things should be automat

[2022-09-26 11:55] jmakhack commented on #222
Assigned this issue to you, @ArshErgon! :)

[2022-09-26 12:05] #219 closed

[2022-09-27 04:16] SaranshBaniyal commented on #221
@jmakhack can you please assign this to me? I am a beginner level android developer and have worked in java as well as kotlin

[2022-09-27 04:30] jmakhack commented on #221
@SaranshBaniyal, it's all yours! Just open a pull request when you're ready.
Feel free to either ping me on here or preferably on the discord if you have any questions.

[2022-09-27 04:32] SaranshBaniyal commented on #221
@jmakhack Sure. Thanks, I'll join the discord community

[2022-09-27 06:31] macslowiak commented on #207
@jmakhack I want to try to do this :)

[2022-09-27 07:16] jmakhack commented on #207
@macslowiak, it's all yours!

[2022-09-27 15:33] ArshErgon commented on #222
hi @jmakhack I've downloaded the `runlite v:1.8.33.3` but when I tried to replicate the error I could not find the `Overlay Timer Settings`, I just download the `runlite` and the repo I havn't touch the codebase. Do I need to login?
![Screenshot from 2022-09-27 19-59-49](https://user-images.githubusercontent.com/40994679/192569729-f334329c-02c6-4e34-bc52-d1388d8e3088.png)

[2022-09-27 18:00] jmakhack commented on #222
Hey @ArshErgon, you shouldn't have to login to RuneScape in order to see the plugin. Instead of searching for `overlay timer`, try searching for `hydrate reminder`.

Have you also followed the steps in https://github.com/jmakhack/hydrate-reminder/blob/master/CONTRIBUTING.md#setting-up-and-building-the-project? If you'd like more help, I'd recommend joining the [Discord](https://discord.gg/RTgxfFW9

[2022-09-28 00:11] #207 closed

[2022-09-28 01:49] Jacoberson commented on #223
@jmakhack I've completed this.

[2022-09-28 07:56] #223 closed

[2022-09-28 20:59] Jacoberson commented on #205
@jmakhack do you want the ConfigSection/ConfigItems placed in position order in the file?

[2022-09-28 22:23] jmakhack commented on #205
Each config option in [HydrateReminderConfig.java](https://github.com/jmakhack/hydrate-reminder/blob/master/src/main/java/com/hydratereminder/HydrateReminderConfig.java) has a position value.

For example, the following two config options currently have the same position value of 7 which is a bit confusing.

[code]

This task is to clean up those values so that they are something like the followin

[2022-09-28 23:10] Jacoberson commented on #205
@jmakhack I know #221 is already assigned, but without me changing the position of Personality Type (keeping it at position 11) and after changing positions of all other items/sections, Personality Type moves to below Computer Notification. Do you want me to leave it at its current position, or should I go ahead and resolve #221 with this issue?

![image](https://user-images.githubusercontent.com/

[2022-09-29 04:13] jmakhack commented on #205
@Jacoberson ah I see, just leave it at its current position and #221 can pull in your changes and be handled separately.

[2022-09-29 22:08] mslowiak commented on #212
I'll work on that one

[2022-09-29 22:11] mslowiak commented on #214
I will work on that

[2022-09-30 16:07] macslowiak commented on #215
Please assign that one to me :)

[2022-09-30 16:07] macslowiak commented on #213
Please assign that one to me :)

[2022-09-30 18:42] #205 closed

[2022-10-01 04:29] aakash232 commented on #195
@jmakhack is the issue available. Pls assign it. :)

[2022-10-01 04:40] jmakhack commented on #195
Sure thing @aakash232! It's assigned to you now.

[2022-10-01 05:24] aakash232 commented on #195
@jmakhack PR#230
Kindly review it and pls let me know if any changes needed.

[2022-10-01 06:08] Kaushik-Iyer commented on #224
Can I try to work on this?

[2022-10-01 06:37] harikesh409 commented on #217
Hi @mslowiak , @jmakhack ,

I am interested in doing this can you assign it to me.

[2022-10-01 06:54] jmakhack commented on #217
Sounds good @harikesh409. It's assigned to you now! :)

[2022-10-01 06:57] jmakhack commented on #224
Sure thing @Kaushik-Iyer. It's assigned to you now :)

[2022-10-01 09:14] Manish5121 commented on #224
I don't know how to do it yet but can i try working on this ?

[2022-10-01 09:15] jmakhack commented on #224
@Manish5121 This issue is not available as it has already been assigned to somebody else.

[2022-10-01 09:17] Manish5121 commented on #224
Ohh okk 👍

[2022-10-01 09:22] Zeesky-code commented on #197
Please assign me to this issue

[2022-10-01 09:50] #195 closed

[2022-10-01 10:05] aakash232 commented on #191
@jmakhack pls assign this issue :)

[2022-10-01 10:06] utsav82 commented on #198
Can i be assigned to this issue? @jmakhack

[2022-10-01 10:27] jmakhack commented on #191
Go for it @aakash232

[2022-10-01 10:28] jmakhack commented on #198
sure thing @utsav82. Go for it!

[2022-10-01 10:33] harikesh409 commented on #216
I can work on this please assign.

[2022-10-01 10:57] aakash232 commented on #191
@jmakhack Pls review PR #236

[2022-10-01 16:02] mslowiak opened #241 "Migrate to JUnit5"
## Task Context
Actually all tests are running on JUnit 4. It would be great to migrate to JUnit 5.

## Acceptance Criteria / Goals
Tests are working on JUnit 5.

Please refer to [CONTRIBUTING.md](https://github.com/jmakhack/hydrate-reminder/blob/master/CONTRIBUTING.md) for info on how to setup, build, run, and test this project. Feel free to ping @jmakhack in the comments below with any questions

[2022-10-01 17:11] jeslyw commented on #192
Would like to have a go at this!

[2022-10-01 21:47] Jacoberson commented on #161
@jmakhack can you assign this to me?

[2022-10-02 01:19] Jacoberson commented on #160
@jmakhack can you assign this to me?

[2022-10-02 06:33] aakash232 commented on #191
@jmakhack  is the PR good for merge? PR #236

[2022-10-02 11:23] #197 closed

[2022-10-02 11:27] #224 closed

[2022-10-02 11:36] #213 closed

[2022-10-02 11:58] #161 closed

[2022-10-02 12:25] Lumary2 commented on #199
Hi, can I work on this? :)

[2022-10-02 13:41] jmakhack commented on #192
@jeslyw, just assigned it to you :)

[2022-10-02 13:47] #191 closed

[2022-10-02 13:56] #217 closed

[2022-10-02 13:59] #160 closed

[2022-10-02 14:22] akshatjainei commented on #200
Please assign me for this particular issue

[2022-10-02 14:26] akshatjainei commented on #193
Please assign me for this issue

[2022-10-02 16:26] akshatjainei commented on #193
#250

[2022-10-02 16:28] akshatjainei commented on #193
[https://github.com/jmakhack/hydrate-reminder/pull/250](url)

[2022-10-02 16:38] akshatjainei commented on #193
Closes #250

[2022-10-02 18:06] radharaniraj commented on #196
hi, I want to work on this issue, pls assign this issue to me

[2022-10-03 05:45] jmakhack commented on #196
Hi @radharaniraj, go for it! I assigned it to you now :)

[2022-10-03 06:18] #216 closed

[2022-10-03 06:39] #214 closed

[2022-10-03 07:32] #199 closed

[2022-10-03 07:51] jmakhack opened #252 "Improve HydrateWelcomeMessageDictionary jUnit tests"
## Task Context

Currently there is only one unit test for the [HydrateWelcomeMessageDictionary.java](https://github.com/jmakhack/hydrate-reminder/blob/master/src/main/java/com/hydratereminder/dictionary/HydrateWelcomeMessageDictionary.java) class and it is a very simplistic test that only checks if the return type of one of the methods is a String object.

[code]

## Acceptance Criteria / Goals

[2022-10-03 08:09] #198 closed

[2022-10-03 13:11] #193 closed

[2022-10-03 13:16] #212 closed

[2022-10-03 13:21] jmakhack commented on #142
Closing this out for now as I've decided this is out of scope for v2.0.0. The overlay timer would need some considerable amount of refactoring to support this functionality. This is because the overlay timer extends from the `Infobox` class which does not support repositioning outside of being in the upper-left corner.

However, if time permits and everything else is finished considerably early, I

[2022-10-03 13:21] #142 closed

[2022-10-03 14:25] Jacoberson commented on #221
@jmakhack can I work on this?

[2022-10-03 14:26] Jacoberson commented on #222
@jmakhack can I work on this?

[2022-10-03 14:30] SaranshBaniyal commented on #221
@jmakhack I am facing some issue with gradle version being incompatible. Can you guide me how to proceed on this?

[2022-10-03 14:38] ArshErgon commented on #222
Hey @Jacoberson, I'm actually working on it, I haven't started a PR because I'm contributing to other projects also, And I can't manage the time very well, but I will be starting a PRsoon

[2022-10-03 14:45] akshatjainei commented on #200
Please assign me for this issue

[2022-10-03 14:52] akshatjainei commented on #200
I am thinking of generating a random number then I will set a range on number which will point towards different cases , and then generate random message which is already their function . Can I go ahead with this approach?

[2022-10-03 19:09] jmakhack commented on #221
@Jacoberson, this issue has already been assigned to somebody else.

@SaranshBaniyal, can you possibly post a screenshot of what you're having issues with in the discord so I can see exactly what the issue is?

[2022-10-03 19:11] jmakhack commented on #252
@Jacoberson, go for it! I've assigned the issue to you.

[2022-10-04 06:43] SaranshBaniyal commented on #221
@jmakhack ok I'll put a screenshot on the discord. Thanks

[2022-10-04 10:46] #215 closed

[2022-10-04 10:47] #241 closed

[2022-10-04 11:10] jmakhack opened #260 "Fix unit tests that are failing on the master branch"
## Task Context

After merging in multiple pull requests including the migration to JUnit 5, there are a number of unit tests failing on the master branch cicd build.

## Acceptance Criteria / Goals

The goal of this task is to fix all the failing tests and get a passing build:
https://github.com/jmakhack/hydrate-reminder/actions/runs/3181481936/jobs/5186289521
[code]

## Additional Notes

Please

[2022-10-04 11:57] #260 closed

[2022-10-04 20:28] Akshu-on-github opened #262 "Add new hydrate message personality type: Wizard"
## Feature Reasoning
With the introduction of personality types for hydration break messages, it would be nice to add more new personality types. One such personality type to add is: `Wizard`

## Feature Description
The purpose of this feature request is to add a new personality type `wizard` to the currently existing personality types available for the hydrate break messages. The new personality

[2022-10-04 21:14] mslowiak commented on #262
I think it is a nice extension for our plugin :)

[2022-10-04 21:45] jmakhack commented on #262
Hey @Akshu-on-github! This is a great idea to add to the current list of personality types.

Are you planning to work on this issue? If so, I can assign this to you :)

[2022-10-04 21:48] Akshu-on-github commented on #262
Yes, please assign this to me - I'd like to work on this!

[2022-10-05 05:44] jmakhack commented on #204
Instead of adding another style checker to this project, I will be enabling and configuring a lot more checks from with Codacy. This will be easier to maintain than adding a separate code style/quality checker which could even potentially have conflicts with Codacy if not set properly.

I will close this issue after completing the following:
1. Configuring and enabling all the wanted code style/qu

[2022-10-05 08:06] #200 closed

[2022-10-05 08:55] jmakhack opened #264 "Remove unused imports in HydrateReminderPlugin.java"
**Note: This issue is designed to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.**

## Task Context

The Codacy Static Code Analysis system is reporting five unused import errors coming from `HydrateReminderPlugin.java`. The reported issues can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-remi

[2022-10-05 10:02] swatichauhan814 commented on #264
Hey, Can I work on this? @jmakhack

[2022-10-05 10:09] jmakhack commented on #264
Go for it @swatichauhan814! I've assigned it to you.

[2022-10-05 10:36] #264 closed

[2022-10-05 12:46] #252 closed

[2022-10-05 15:01] kat-kan opened #268 "Add new hydrate personality message type : Santa"
## Feature Reasoning

With the introduction of personality types for hydration break messages, it would be nice to add more new personality types. I know several personalities were added and I have my own suggestion: Santa :) because most of the people like Christmas and it's nice to think of Christmas even in the middle of the summer

## Feature Description

The purpose of this feature request is

[2022-10-05 15:14] Jacoberson opened #269 "Add More HydrateBreakMessageDictionary JUnit Tests"
## Task Context
There are currently only two unit tests for [HydrateBreakMessageDictionary.java](https://github.com/jmakhack/hydrate-reminder/blob/master/src/main/java/com/hydratereminder/dictionary/HydrateBreakMessageDictionary.java) class and several personalities have been added as well as a method that gets a random personality.

## Acceptance Criteria / Goals
The goal of this task is to add a

[2022-10-05 15:14] Jacoberson commented on #269
@jmakhack if you accept this issue, I'd like to work on it.

[2022-10-05 18:30] jmakhack commented on #268
Hey @kat-kan, this idea sounds good to me! :)
 I've assigned this to you.

[2022-10-05 18:35] jmakhack commented on #269
Looks good. Go for it @Jacoberson :)

[2022-10-05 18:54] macslowiak commented on #137
I want to work on it :)

[2022-10-05 19:23] kat-kan commented on #268
Awesome! :)

[2022-10-05 22:57] AbbasSalloum commented on #269
Hello, can i help with this issue?

[2022-10-05 23:40] jmakhack commented on #269
@AbbasSalloum This issue has already been assigned and taken.

[2022-10-06 01:54] #269 closed

[2022-10-06 01:56] jmakhack commented on #137
Assigned to you @macslowiak. This one might be a bit tedious to go through so the help is much appreciated.

[2022-10-06 02:22] jmakhack opened #271 "Fix concatenating characters as strings performance issue"
**Note: This issue is designed to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.**

## Task Context

The Codacy Static Code Analysis system is reporting a performance issue coming from `ChatMessageSender.java`. The reported issue can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-reminder/issues

[2022-10-06 02:27] jmakhack opened #272 "[First Timers Only] Fix redundant field initializer issues"
**Note: This issue is designed to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.**

## Task Context

The Codacy Static Code Analysis system is reporting two performance issue(s) coming from `HydrateReminderPlugin.java`. The reported issue(s) can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-rem

[2022-10-06 02:39] jmakhack opened #273 "[First Timers Only] Fix null assignment issue"
**Note: This issue is designed to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.**

## Task Context

The Codacy Static Code Analysis system is reporting a null assignment issue(s) coming from `ChatMessageSender.java`. The reported issue(s) can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-remin

[2022-10-06 02:57] jmakhack opened #274 "Fix avoid catching generic exception issue"
**Note: This issue is designed to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.**

## Task Context

The Codacy Static Code Analysis system is reporting a avoid catching generic exception issue(s) coming from `HydrateEmojiProvider.java`. The reported issue(s) can be found at:

https://app.codacy.com/gh/jm

[2022-10-06 03:07] sanmay321 commented on #271
@jmakhack hey I would like to work on this issue,

[2022-10-06 03:09] jmakhack commented on #271
@sanmay321, go for it! I just assigned it to you.

[2022-10-06 03:16] jmakhack opened #275 "Fix implicit switch fall through issue"
**Note: This issue is designed to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.**

## Task Context

The Codacy Static Code Analysis system is reporting a implicit switch fall through issue coming from `HydrateBreakMessageDictionary.java`. The reported issue can be found at:

https://app.codacy.com/gh/jma

[2022-10-06 03:24] jmakhack opened #276 "[First Timers Only] Fix avoid duplicate literals issue"
**Note: This issue is designed to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.**

## Task Context

The Codacy Static Code Analysis system is reporting a avoid duplicate literals issue coming from `ChatMessageSenderTest.java`. The reported issue can be found at:

https://app.codacy.com/gh/jmakhack/hydrat

[2022-10-06 03:31] jmakhack opened #278 "Fix use locale with case conversions issue"
**Note: This issue is designed to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.**

## Task Context

The Codacy Static Code Analysis system is reporting a use locale with case conversions issue coming from `CommandInvoker.java`. The reported issue can be found at:

https://app.codacy.com/gh/jmakhack/hydra

[2022-10-06 03:38] jmakhack opened #279 "Fix missing serial version uid issues"
**Note: This issue is designed to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.**

## Task Context

The Codacy Static Code Analysis system is reporting two missing serial version uid issues coming from `NotSupportedCommandException.java` and `NotRecognizedCommandException.java`. The reported issue can be

[2022-10-06 04:13] sanmay321 commented on #278
@jmakhack hye i would like to work on this issue,

[2022-10-06 04:14] pwnb0y commented on #273
Assign me

[2022-10-06 04:27] jmakhack commented on #278
Hi @sanmay321, this issue is currently open for first time contributors only.

[2022-10-06 04:31] ginglis13 commented on #278
early to the PR party, late to the issue party... can you please assign me? I've got #280 open as a fix

[2022-10-06 04:52] isurumaldeniya commented on #279
@jmakhack Hi I am new to java. But I would like to contribute to fixing this issue. Can you guide me though the PR process? Thank you.

[2022-10-06 05:40] XoMute commented on #279
Hi @jmakhack
Please check out the related PR

[2022-10-06 05:46] jmakhack commented on #273
Go for it @pwnb0y! I've assigned this issue to you.

[2022-10-06 05:58] #271 closed

[2022-10-06 06:06] XoMute commented on #275
@jmakhack Hi
I'd like to work on this issue

[2022-10-06 06:26] XoMute commented on #276
Hi @jmakhack
I'd like to work on this issue

[2022-10-06 06:33] isurumaldeniya commented on #279
@jmakhack Hi I have added a PR. Please review it and let me know if anything needed to be changed. 😊

[2022-10-06 06:50] sanmay321 commented on #274
@jmakhack hey i would like to work on this issue,

[2022-10-06 07:48] jivjen commented on #274
Hi @jmakhack
I've raised a PR for this
https://github.com/jmakhack/hydrate-reminder/pull/287
Could you please help review?

[2022-10-06 08:24] jmakhack commented on #275
Hi @XoMute, I've assigned this issue to you.

[2022-10-06 08:25] jmakhack commented on #274
@sanmay321, this issue is open to first time contributors only.

[2022-10-06 08:33] jmakhack commented on #276
@XoMute This issue is for first time contributors only and you've already been assigned #275.

[2022-10-06 08:37] jmakhack commented on #276
@shams-rf, I've now assigned you the issue.

[2022-10-06 08:41] jmakhack commented on #272
@shams-rf I have already assigned you a separate issue and this is for first time contributors only.

[2022-10-06 09:04] jmakhack opened #288 "Update the total chat command to also display the number of hydration breaks taken for all time"
## Feature Reasoning

It would be neat to see the total number of hydration breaks taken not only for the current RuneLite session but for all time.

## Feature Description

Currently the `::hr total` chat command displays the amount of hydration breaks taking during the current RuneLite session: `Current session: _ hydration breaks`. See screenshots in #97.

This feature is to add a second line t

[2022-10-06 09:25] #274 closed

[2022-10-06 09:29] jmakhack commented on #99
Closing this issue for now since a lot of refactoring has already been completed and any future refactoring should be opened as separate issues.

[2022-10-06 09:29] #99 closed

[2022-10-06 09:42] #275 closed

[2022-10-06 10:05] #279 closed

[2022-10-06 11:42] jmakhack opened #292 "[First Timers Only] Fix use utility class issues"
**Note: This issue is to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.**

## Task Context

The Codacy Static Code Analysis system is reporting three `Use Utility Class` issues coming from multiple files. The reported issue can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-reminder/issues?&filt

[2022-10-06 11:47] jmakhack opened #293 "[First Timers Only] Fix bean members should serialize issues"
**Note: This issue is to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.**

## Task Context

The Codacy Static Code Analysis system is reporting 75 bean members should serialize issues coming from multiple files. The reported issue can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-reminder/issue

[2022-10-06 12:10] jmakhack opened #294 "Refactor getRandomHydrateBreakMessageForPersonality method"
## Task Context

Right now, the `getRandomHydrateBreakMessageForPersonality` method relies on a switch statement that needs to be updated with every newly added personality type. Also, every case in the switch statement essentially just calls the same method with a different parameter (except for `RANDOM`). This is not ideal as the code is unnecessarily repetitive.

Codacy also reports this as an

[2022-10-06 12:12] suryanshsangwan commented on #294
Please assign this to me

[2022-10-06 12:13] jmakhack commented on #294
Ok, it is now assigned to you @suryanshsangwan :)

[2022-10-06 12:29] jmakhack opened #295 "Improve chat notification example message"
## Feature Reasoning

At the moment, an example chat notification is displayed whenever chat notifications are enabled and whenever the chat type is changed. It would be nice to improve the example chat notification message with the chat type that it is currently set as.

## Feature Description

Here are the current example messages that are displayed whenever the chat notification settings are ch

[2022-10-06 12:45] jmakhack opened #296 "[First Timers Only] Add assert to shouldReturnNothingWhenIsNotHydrateCommand unit test"
**Note: This issue is to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.**

## Task Context

The Codacy Static Code Analysis system is reporting an issue coming from `CommandInvokerTest.java`. The reported issue can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-reminder/issues?&filters=W3siaWQiO

[2022-10-06 14:17] jmakhack commented on #296
Go for it, @AbbasSalloum!

[2022-10-06 17:05] manish-singh-bisht commented on #293
Hi @jmakhack  do one has to just add 'transient'?
Please correct me if I am wrong,please assign me this.

[2022-10-06 17:33] macslowiak commented on #137
@jmakhack I checked it and there are only two solutions for this:
1. That what you mentioned.
2. Add void method with config item. Then it will be something like that:
[code]
From second approach we have something like this:
![image](https://user-images.githubusercontent.com/94566117/194380202-ded32aaf-c421-442a-97a7-dad470950194.png)

I would rather go with 2nd solution (I know it doesn't look pr

[2022-10-06 18:13] jmakhack commented on #293
@manish-singh-bisht yes, that is correct. I've assigned this to you now.

[2022-10-06 18:16] jmakhack commented on #137
@macslowiak I like this second approach so I say we go with it 👍

[2022-10-06 22:11] AbbasSalloum commented on #296
Hello, I get that I have to add assert to the test but what are the criteria we want to assert Im not sure

[2022-10-06 23:14] NNRepos commented on #272
hey, i would like to be assigned if possible 😄

[2022-10-06 23:37] akshat-rawat commented on #292
May I work on this issue?

[2022-10-07 00:32] jmakhack commented on #292
go for it @akshat-rawat! :)

[2022-10-07 01:32] jmakhack commented on #296
@AbbasSalloum You can add a check that `commandCreator.createFrom(commandType)` is never called when the invalid command is passed in as a parameter to `invokeCommand`.

[2022-10-07 01:33] #295 closed

[2022-10-07 03:03] akshat-rawat commented on #292
Hi @jmakhack, I have fixed the issue and also upgraded the `projectlombok:lombok` dependency if that's an issue I can revert back to previous version.

[2022-10-07 04:02] jmakhack commented on #292
@akshat-rawat, thanks for your changes! Upgrading the `lombok` dependency will cause the RuneLite Plugin Hub to refuse the plugin so you'll need to revert it back to the previous version.

[2022-10-07 05:48] akshat-rawat commented on #292
here is the new pr for the issue.

[2022-10-07 07:44] RohitPatel1122 commented on #272
Hello, I would like to work on this !

[2022-10-07 09:16] shams-rf commented on #276
Thank you @jmakhack, will start working on it now.

[2022-10-07 10:48] jmakhack commented on #272
@NNRepos go for it! I've assigned this to you.

[2022-10-07 12:26] #137 closed

[2022-10-07 12:46] Jacoberson commented on #288
@jmakhack I would like to try this.

[2022-10-07 13:22] #262 closed

[2022-10-07 14:19] macslowiak commented on #293
@jmakhack I believe it should be closed :)

[2022-10-08 11:11] #272 closed

[2022-10-08 11:30] jmakhack commented on #140
Closing for now to split the issue up into multiple issues that will better describe a different approach to this.

[2022-10-08 11:30] #140 closed

[2022-10-08 11:31] #204 closed

[2022-10-09 10:30] #268 closed

[2022-10-10 02:10] AbbasSalloum commented on #296
Hello,

Is there an issue with this PR? What action items are left to close this PR?

Please advise.

Cheers

[2022-10-10 02:52] jmakhack commented on #296
@AbbasSalloum, there have been comments made on your PR that are waiting to be addressed. Please take a look and make the necessary changes when you have time.

[2022-10-10 06:06] AbbasSalloum commented on #296
Hello,

The comments regarding the PR were addressed

Regards

[2022-10-10 06:24] jmakhack opened #314 "Refactor HydrateReminderTimerImages.java"
## Task Context

The goal of this task is to refactor `HydrateReminderTimerImages.java` to make future feature work go smoother and easier.

## Acceptance Criteria / Goals

There are two acceptable methods for refactoring the enum:
- Add a third parameter for each enum option `imageCategory` which matches the category value mentioned in the comments
    - If taking this approach, let's also rename

[2022-10-10 08:05] jmakhack opened #315 "Add new animation types configuration setting"
## Feature Reasoning

A new feature being introduced in v2.0.0 is the hydrate animation feature. Right now, there is only the option to enable/disable the animation setting. It would be nice to also have the ability to set which animation gets played on every hydrate interval.

## Feature Description

Add a new configuration option `Animation type` which contains a dropdown of animation options. F

[2022-10-10 08:44] jmakhack opened #316 "Add sound effect configuration setting"
## Feature Reasoning

Similarly to the animation setting, it would be nice to have another setting to play a sound effect every time it is time to take a hydration break.

## Feature Description

This feature should add a setting very similar to the current hydrate animation setting `hydrate sound effect` which when enabled plays a sound effect every time a hydrate interval is completed.

The foll

[2022-10-10 18:39] PetraJankurova commented on #138
hi could i work on this please? i already started and have made some progress. thanks

[2022-10-11 00:50] jmakhack commented on #138
go for it @PetraJankurova! :)

[2022-10-11 00:51] jmakhack commented on #314
Go for it @Jacoberson!

[2022-10-11 09:08] jmakhack commented on #273
@pwnb0y just checking in, are you still working on this issue?

[2022-10-11 09:10] #288 closed

[2022-10-11 09:16] #293 closed

[2022-10-11 14:50] pwnb0y commented on #273
Yes

[2022-10-12 01:46] #296 closed

[2022-10-12 02:16] #273 closed

[2022-10-12 02:53] jmakhack opened #322 "Add ability to store persistent values in a JSON file"
## Task Context

As part of #311, new functionality was added to log the total amount of hydration breaks for a user across multiple sessions. The value is currently stored in `totalHydrationBreaks.log` as a numeric value. The goal for this task is to store the value in a json file instead to allow for new potential fields to be added in the future.

## Acceptance Criteria / Goals

The acceptance

[2022-10-12 02:59] jmakhack opened #323 "Add new chat command: party"
## Feature Reasoning

As a new "just for fun" command, it would be neat to have a `::hr party` command which makes all players visible on screen to simultaneously perform the `CONSUMING` animation action.

## Feature Description

Add a new chat command `::hr party` which causes all players on screen (or any within close proximity of the player) to perform the `CONSUMING` animation simultaneously.

[2022-10-12 10:26] jmakhack opened #324 "[First Timers Only] Fix no-paragraph-content-indent issue in CONTRIBUTING.md"
### Note: This issue is to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.

## Task Context

The Codacy Static Code Analysis system is reporting a no-paragraph-content-indent issue(s). The reported issue can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-reminder/issues?bid=22863237&filters=W3sia

[2022-10-12 10:33] jmakhack opened #325 "[First Timers Only] Fix list-item-spacing issues in documentation"
### Note: This issue is to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.

## Task Context

The Codacy Static Code Analysis system is reporting multiple list-item-spacing issue(s). The reported issue(s) can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-reminder/issues?bid=22863237&filters=W3sia

[2022-10-12 10:45] jmakhack opened #326 "[First Timers Only] Fix identical catch branches issue"
### Note: This issue is to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.

## Task Context

The Codacy Static Code Analysis system is reporting an identical catch branches issue(s). The reported issue(s) can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-reminder/issues?bid=22863237&filters=W3si

[2022-10-12 10:49] jmakhack opened #327 "[First Timers Only] Fix JUnit 5 tests should be package-private issue"
### Note: This issue is to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.

## Task Context

The Codacy Static Code Analysis system is reporting a Junit 5 package-private issue(s). The reported issue(s) can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-reminder/issues?bid=22863237&filters=W3siaW

[2022-10-12 10:53] jmakhack opened #328 "[First Timers Only] Fix literals first in comparisons issue"
### Note: This issue is to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.

## Task Context

The Codacy Static Code Analysis system is reporting a literals first in comparisons issue(s). The reported issue(s) can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-reminder/issues?bid=22863237&filters=

[2022-10-12 10:55] jmakhack opened #329 "[First Timers Only] Fix guard log statement issue"
### Note: This issue is to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.

## Task Context

The Codacy Static Code Analysis system is reporting a guard log statement issue(s). The reported issue(s) can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-reminder/issues?bid=22863237&filters=W3siaWQiOi

[2022-10-12 10:57] jmakhack opened #330 "[First Timers Only] Fix call super in constructor issues"
### Note: This issue is to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.

## Task Context

The Codacy Static Code Analysis system is reporting call super in constructor issue(s). The reported issue(s) can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-reminder/issues?bid=22863237&filters=W3siaW

[2022-10-12 11:05] jmakhack opened #331 "[First Timers Only] Fix use underscores in numeric literals issues"
### Note: This issue is to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.

## Task Context

The Codacy Static Code Analysis system is reporting use underscores in numeric literals issue(s). The reported issue(s) can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-reminder/issues?bid=22863237&filt

[2022-10-12 11:10] 90r1ll4 commented on #331
can you assign me this issue ?

[2022-10-12 11:12] jmakhack commented on #331
I've now assigned you this issue @90r1ll4 :)

[2022-10-12 11:16] jmakhack opened #332 "[First Timers Only] Fix confusing ternary issues"
### Note: This issue is to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.

## Task Context

The Codacy Static Code Analysis system is reporting confusing ternary issue(s). The reported issue(s) can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-reminder/issues?bid=22863237&filters=W3siaWQiOiJMYW

[2022-10-12 12:01] jmakhack opened #333 "[First Timers Only] Fix field naming conventions issues"
### Note: This issue is to be picked up by first time contributors to this project only. If it is not picked up after ~7 days, it will be opened up for anyone to take.

## Task Context

The Codacy Static Code Analysis system is reporting field naming conventions issue(s). The reported issue(s) can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-reminder/issues?bid=22863237&filters=W3siaWQ

[2022-10-12 12:02] Chandak-Keshav commented on #324
Kindly assign me this @jmakhack

[2022-10-12 13:11] mohitkumaragrawal commented on #324
@jmakhack Can i work on this?

[2022-10-12 14:22] Jacoberson commented on #322
@jmakhack I can do this.

[2022-10-12 17:14] A-5ingh commented on #333
Can you please assign this to me?

[2022-10-12 17:15] A-5ingh commented on #332
I can work on this one as well if more than 1 issue can be assigned?

[2022-10-12 18:07] #324 closed

[2022-10-12 18:14] jmakhack commented on #332
Hi @A-5ingh, I am currently only assigning out one `[First Timers Only]` issue per user.

[2022-10-12 18:15] A-5ingh commented on #332
Sounds good. I'll look for another issue then.

[2022-10-12 21:23] #333 closed

[2022-10-13 00:38] #331 closed

[2022-10-13 01:17] #314 closed

[2022-10-13 01:20] #292 closed

[2022-10-13 04:47] akshat-rawat commented on #330
May I work on this issue?

[2022-10-13 05:02] jmakhack commented on #330
@akshat-rawat, this is for first time contributors only, but since assignees have slowed down you can pick this one up.

[2022-10-13 05:06] akshat-rawat commented on #330
Thanks!

[2022-10-13 05:15] vikash485 commented on #328
Hey @jmakhack , I would like to try and contribute to this issue.

[2022-10-13 05:27] vikash485 commented on #326
Hey @jmakhack, I would like to work on this, please assign me this issue

[2022-10-13 06:00] esmerexie commented on #192
Good evening if this task is still open I would love to have at it :)

[2022-10-13 06:18] jmakhack commented on #192
@esmerexie, this issue has been already assigned to another contributor.

@jeslyw, are you still looking into this issue?

[2022-10-13 06:26] vikash485 commented on #328
I have made a pr for this issue, please verify @jmakhack. Thanks

[2022-10-13 08:39] #328 closed

[2022-10-13 14:24] sanjeev0210 commented on #327
I am a first time contributor to this repository, can I pick this issue?

[2022-10-13 17:53] jmakhack commented on #327
go for it @sanjeev0210! :)

[2022-10-13 17:58] sanjeev0210 commented on #327
Thank you @jmakhack

[2022-10-13 20:13] ssiidd commented on #316
Hey, can I work on this issue?

[2022-10-13 20:31] akshat-rawat opened #349 "fix Identical catch branches error"
## Task Context

The Codacy Static Code Analysis system is reporting _Identical catch branches_ errors coming from `CommandInvoker.java.` The reported issues can be found at:

https://app.codacy.com/gh/jmakhack/hydrate-reminder/issues?bid=22863237&filters=W3siaWQiOiJMYW5ndWFnZSIsInZhbHVlcyI6WyJKYXZhIl19LHsiaWQiOiJDYXRlZ29yeSIsInZhbHVlcyI6WyJDb2RlU3R5bGUiXX0seyJpZCI6IkxldmVsIiwidmFsdWVzIjpbIkluZm8i

[2022-10-13 20:32] akshat-rawat commented on #349
@jmakhack, if it's ok then may I work on this issue?

[2022-10-14 04:17] jmakhack commented on #349
@akshat-rawat, this is a duplicate of #326.

[2022-10-14 04:17] #349 closed

[2022-10-14 04:17] jmakhack commented on #316
go for it @ssiidd

[2022-10-14 05:50] #329 closed

[2022-10-14 06:54] manaslohani commented on #325
Hi, i want to work on this.

[2022-10-14 06:55] manaslohani commented on #323
Can I be assigned this?

[2022-10-14 07:07] jmakhack commented on #325
Go for it @manaslohani  :)

[2022-10-14 07:09] jmakhack commented on #196
@radharaniraj, just checking in. Are you still working on this issue?

[2022-10-14 07:10] jmakhack commented on #222
Hi @ArshErgon, just checking in. Are you still working on this issue?

[2022-10-14 09:19] #326 closed

[2022-10-14 09:20] #330 closed

[2022-10-14 10:14] jmakhack opened #352 "Refactor command exception classes"
## Task Context

At the moment, `NotRecognizedCommandException` and `NotSupportedCommandException` both extend `RuntimeException`. However, instead of using the taking advantage of how `RuntimeException` handles error messages, these custom exception classes use a `reason` field. This task is to take better advantage of what `RuntimeException` has builtin to its logic.

## Acceptance Criteria / Go

[2022-10-14 10:39] ron-huberfeld commented on #352
Hi @jmakhack , can I handle this issue?

[2022-10-14 10:41] jmakhack commented on #352
go for it @ron-huberfeld

[2022-10-14 12:03] #325 closed

[2022-10-14 12:16] jmakhack opened #355 "Add new dropdown to select image category for overlay images"
## Feature Reasoning

The list of images to choose from for the hydrate timer overlay is very large. Trying to find a desired image is a pain when having to scroll through the large dropdown list.

## Feature Description

Add a new dropdown configuration item `image category`, which allows the user to filter the type of images that appears in the `timer image` dropdown. For example, if a user sele

[2022-10-14 12:30] jmakhack opened #356 "Track chat command usage in stats json file"
## Feature Reasoning

For future potential features, it would be nice to track how many times the player has used every chat command.

## Feature Description

This enhancement is to increase a counter in `hydrateReminderStats.json` whenever any chat command is used. The result json should look like the following:

[code]

Add unit tests and avoid repeating logic where possible. When new commands a

[2022-10-14 13:05] simonkrizo commented on #356
Hello, I would like to contribute to project. Can you assign this to me?

[2022-10-14 16:40] sanjeev0210 commented on #327
`I have made the changes but I am not able to run the files locally.
`` org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':test' ``
`` Caused by: org.gradle.api.tasks.testing.TestExecutionException: No tests found for given includes: [com.hydratereminder.command.total.TotalCommandHandlerTest](--tests filter) ``

I have searched through stack overflow and tried one of the solu

[2022-10-14 19:55] ron-huberfeld commented on #352
Hi @jmakhack
I'm unable to run the tests.
Where can I find an example?

[2022-10-15 05:59] jmakhack commented on #327
I'm not sure what the issue is just from that error message alone. Did you follow the steps in [CONTRIBUTING.md](https://github.com/jmakhack/hydrate-reminder/blob/master/CONTRIBUTING.md) such as setting the `-ea` VM option? Running the project through those steps should also run the unit tests automatically as well.

If you can't get the tests running locally, you can also just open a pull request

[2022-10-15 06:44] jmakhack commented on #352
@ron-huberfeld If you're able to run the project via the steps in [CONTRIBUTING.md](https://github.com/jmakhack/hydrate-reminder/blob/master/CONTRIBUTING.md), the tests will run automatically and prevent the program from starting if the tests fail. In IntelliJ IDEA, the green play button by any test file will work as well.

Worst case scenario, if you're not able to run them successfully locally,

[2022-10-15 06:45] jmakhack commented on #323
go for it @manaslohani :)

[2022-10-15 07:43] #322 closed

[2022-10-15 09:00] SaranshBaniyal commented on #221
@jmakhack I m really sorry for the delay in this issue. I am unable to figure out the codebase. Not sure where exactly are the awt graphics lines of code. Also I am not that well versed in awt. Can you provide some resource. And I understand if you want to reassign this issue to someone else too, as I am unable to deliver

[2022-10-15 16:06] sanjeev0210 commented on #327
okay Thanks @jmakhack :)

[2022-10-15 16:35] ron-huberfeld commented on #352
Hi @jmakhack
Can you please review?

[2022-10-16 05:14] jmakhack commented on #221
@SaranshBaniyal This codebase doesn't use awt graphics. Are you commenting on the correct project?
The fix for this issue should be to just set the correct value for `section` and `position` in [HydrateReminderConfig.java](https://github.com/jmakhack/hydrate-reminder/blob/master/src/main/java/com/hydratereminder/HydrateReminderConfig.java).

[2022-10-16 05:25] #352 closed

[2022-10-16 05:50] SaranshBaniyal commented on #221
@jmakhack I did see an import statement of the awt package in HydrateReminderconfig file.  But thanks for explaining I'll try again

[2022-10-16 05:58] jmakhack commented on #221
@SaranshBaniyal Ah you're right, I mistook awt for something else. You shouldn't need to use it for this issue. The key/value pairs within `@ConfigItem` should be the only thing that needs to be edited.

[2022-10-16 08:38] #222 closed

[2022-10-16 08:39] jmakhack commented on #192
@esmerexie Since I haven't heard back from the current assignee, I can open up this task for you to work on. Let me know if you are still interested.

[2022-10-16 09:49] ArshErgon commented on #315
can I work on this?
and can you tell which do I need to add all this? `HydrateReminderConfig.java`? and the enum for `hydrateReminderTimerImages` doesn't exists. I couldn't find it.

[2022-10-16 11:45] jmakhack commented on #315
@ArshErgon go for it! The timer images enum got recently refactored into the `images` package. The end result of this feature work should be a new dropdown option in the `Animation settings` section. It should be similar to the timer images dropdown but for animations instead of images.

[2022-10-16 11:50] jmakhack opened #361 "Add new automation to populate the milestone field of pull requests"
## Task Context

Currently, the milestone field of each pull request has to get manually set. It would be very helpful to have some form of automation that does this to save unnecessary time and effort.

## Acceptance Criteria / Goals

The goal of this task is to have automation that performs the following:
- Automatically sets the milestone of an opened pull request to the same milestone of the f

[2022-10-16 12:30] ron-huberfeld commented on #356
Hi @jmakhack
Can I have this one?

[2022-10-16 12:44] jmakhack commented on #356
Go for it @ron-huberfeld :)

[2022-10-17 14:51] SaranshBaniyal commented on #221
@jmakhack ok I'll try

[2022-10-17 15:03] Jacoberson opened #364 "Parameterize JUnit Tests"
## Task Context
Codacy has some issues with the unit tests having more than 1 assert. Most of these errors can be resolved by parameterizing tests such as the test in [HydrateBreakMessageDictionaryTest.java](https://github.com/jmakhack/hydrate-reminder/blob/master/src/test/java/com/hydratereminder/dictionary/HydrateBreakMessageDictionaryTest.java)

![image](https://user-images.githubusercontent.co

[2022-10-17 15:03] Jacoberson commented on #364
@jmakhack I'd like to do this if you accept it.

[2022-10-17 16:27] SaranshBaniyal commented on #221
@jmakhack thanks for your patience, I have created a PR, please have a look and ping me if any changes are required.

[2022-10-18 07:45] jmakhack commented on #364
@Jacoberson sounds good to me. Feel free to ignore some of the reported issues if it doesn't make sense to parameterize that particular test or to split it into multiple tests.

[2022-10-19 02:53] #327 closed

[2022-10-19 03:29] jmakhack opened #371 "[First Timers Only] Update contributors display to show 7 contributors per line"
## Task Context

Given the increasing amount of contributors on this project, it would be nice to condense down the display of contributors in the README.

## Acceptance Criteria / Goals

Update [.all-contributorsrc](https://github.com/jmakhack/hydrate-reminder/blob/master/.all-contributorsrc) so that the @all-contributors bot will update the number of contributors per line the next time it is run

[2022-10-19 05:29] RachitGarg-12 commented on #371
@jmakhack i would like to contribute on this issue.

[2022-10-19 06:02] jmakhack commented on #371
Go for it @RachitGarg-12

[2022-10-19 07:00] rishu1601 commented on #361
Hey @jmakhack , let me know if this is up for grab, I will like to work on it.

[2022-10-19 07:27] jmakhack commented on #361
Go for it @rishu1601

[2022-10-19 09:00] jmakhack commented on #355
@rishu1601 I've assigned you #361 for now and am only assigning one issue per contributor at a time. If you finish #361 and this is still open then you can work on this.

[2022-10-19 09:12] #364 closed

[2022-10-19 09:52] bhargav26k commented on #371
I want to contribute on this issue.

[2022-10-19 17:57] jmakhack commented on #371
@bhargav26k This issue has already been assigned to another contributor.

[2022-10-19 18:13] #221 closed

[2022-10-19 18:28] SaranshBaniyal commented on #221
Thanks, @jmakhack, for all the help. I had a great time working with you and learning from you

[2022-10-20 10:02] jmakhack commented on #276
@shams-rf just checking in, are you still working on this issue?

[2022-10-20 10:03] jmakhack commented on #294
Hi @suryanshsangwan. Just checking in, are you still working on this issue?

[2022-10-20 10:05] jmakhack commented on #172
Closing this as #316 has been opened to implement the sound effect feature.

[2022-10-20 10:05] #172 closed

[2022-10-20 10:31] shams-rf commented on #276
@jmakhack Hi, apologies for the late notice. I would like to drop this issue please.

[2022-10-20 16:06] ssiidd commented on #316
Hey @jmakhack, I'm having some issues running the tests. When I run the HydrateReminderTest.java file, it opens up the client to this
<img width="768" alt="Screen Shot 2022-10-20 at 11 05 20 AM" src="https://user-images.githubusercontent.com/14967816/197000732-b7c08d83-fdb4-4cf1-8fbd-28d78c1775d6.png">
which seems correct, but whenever I run the tests, nothing happens and it says 0/0 tests passed.

[2022-10-20 17:58] rishu1601 commented on #361
Hey @jmakhack , I looked through various options/ developer APIs available, I think the best way to do this will be through a github app, If it's ok I will create a github app for the same.

[2022-10-20 18:03] jmakhack commented on #316
Hi @ssiidd, did you follow the steps in https://github.com/jmakhack/hydrate-reminder/blob/master/CONTRIBUTING.md#setting-up-and-building-the-project? One of the most common issues setting up is that the `-ea` option wasn't set properly.

Otherwise, `HydrateReminderTest.java` opening the client is correct. I've never tried running the tests in vscode so I'm not sure why it would display `0/0 tests

[2022-10-20 18:07] jmakhack commented on #361
Yeah sure, @rishu1601. That would be great! If that is too much trouble though, I'm also OK with just setting all pull request milestones to `Ongoing`.

[2022-10-21 16:22] Vaibhavraj-nath-chauhan commented on #355
Can I contribute to the repo

[2022-10-21 16:23] Vaibhavraj-nath-chauhan commented on #371
Can i contribute to the issue

[2022-10-21 18:00] jmakhack commented on #371
@Vaibhavraj-nath-chauhan This issue has already been assigned to another contributor.

[2022-10-21 18:02] jmakhack commented on #355
@Vaibhavraj-nath-chauhan, go for it. I've assigned this issue to you.

[2022-10-21 18:03] jmakhack commented on #138
Hi @PetraJankurova. Just checking in, are you still working on this issue?

[2022-10-21 21:54] PetraJankurova commented on #138
yes !

[2022-10-22 17:13] ssiidd commented on #316
Hi @jmakhack, I followed all of those instructions and set up the -ea. One thing I noticed is that the gear icon for the plugin is missing. I'm not sure if that might be part of the issue?
<img width="245" alt="Screen Shot 2022-10-22 at 12 13 03 PM" src="https://user-images.githubusercontent.com/14967816/197353490-fa687167-a19c-41bf-bf14-942de3bb85a3.png">

[2022-10-22 17:15] ssiidd commented on #316
I also tried editing the tests and it didn't change

[2022-10-22 20:44] Aravind22 commented on #196
@jmakhack I would like to work on this issue.

[2022-10-23 01:10] jmakhack commented on #316
Hi @ssiidd, that looks like the plugin hub for downloading plugins. You should not be downloading the hydrate reminder plugin from the plugin hub. It should already be included in the client when you run the project through IntelliJ IDEA.

Make sure to do the following:

1. Remove the v1.1.1 version of the hydrate reminder plugin from your client by clicking `Remove` in the Plugin Hub
2. Run the p

[2022-10-24 21:30] ZarakiKanzaki commented on #276
Hi! May I contribute to this issue? @jmakhack

[2022-10-24 21:34] jmakhack commented on #276
Go for it @ZarakiKanzaki! :)

[2022-10-25 13:21] Prajwalrayal commented on #192
I would like to contribute to this issue if it's still open

[2022-10-25 23:38] jmakhack commented on #192
Sure thing. Go for it @Prajwalrayal! :)

[2022-10-26 07:40] #196 closed

[2022-10-26 08:58] #276 closed

[2022-10-26 13:22] hpa16 commented on #294
Hi @jmakhack, I'd like to work on this issue if it's available to pick up.

[2022-10-28 07:05] #192 closed

[2022-10-30 01:25] #294 closed

[2022-10-30 10:32] jmakhack opened #380 "Notifications not working when Random personality type is selected"
## Bug Description

When using the `Random` personality type, the plugin gets stuck after the timer reaches `0:00`.

## Steps to Reproduce

1. Select the `Random` personality type in the plugin configuration menu and make sure chat notifications are enabled
2. Wait for a hydrate interval to pass
3. Observe that nothing happens after the hydration interval passes

## Expected Behavior

The expectat

[2022-11-01 08:28] jmakhack commented on #371
Hi @RachitGarg-12, are you still working on this issue?

[2022-11-02 11:16] MrinaliniU commented on #371
@jmakhack as discussed could you please assign this issue to me? I have an open PR for this [here](https://github.com/jmakhack/hydrate-reminder/pull/381). Thank you!

[2022-11-02 22:59] #371 closed

[2022-11-03 08:58] #138 closed

[2022-11-04 08:30] jmakhack commented on #323
@manaslohani, just checking in. Are you still planning to work on this?

[2022-11-04 08:30] jmakhack commented on #355
@Vaibhavraj-nath-chauhan, just checking in. Are you still planning to work on this?

[2022-11-04 08:31] jmakhack commented on #356
@ron-huberfeld, just checking in. Are you still planning to work on this?

[2022-11-04 08:31] jmakhack commented on #361
@rishu1601, just checking in. Are you still planning to work on this?

[2022-11-04 09:26] manaslohani commented on #323
Hi, I just unassigned myself, busy at the moment :/

[2022-11-04 10:31] jmakhack commented on #323
No worries @manaslohani! :)

[2022-11-04 20:38] ron-huberfeld commented on #356
Yes. Is it urgent. I'm a bit busy at the moment but still want to do it.

[2022-11-04 21:40] jmakhack commented on #356
@ron-huberfeld, no worries. Just checking in on all the assigned issues :)

[2022-11-05 03:37] jmakhack opened #386 "Cleanup and refactor hydrate reminder test files"
## Task Context

There are a good number of test files that have issues reported about them from the Codacy static code analyzer.

## Acceptance Criteria / Goals

The goal of this task is to address the various issues reported about this project's test files. This can either come in the form of addressing the issue in the test code or by deciding that the issue should be ignored or dismissed.

##

[2022-11-05 13:19] #386 closed

[2022-11-05 22:54] jmakhack opened #388 "Parameterize testImagesGetID jUnit test"
## Task Context

Currently the `testImagesGetID` unit test in `HydrateReminderImagesTest.java` only tests the ID retrieval for only one hydrate reminder image.

## Acceptance Criteria / Goals

The goal of this task is to parameterize the unit test to test for multiple hydrate reminder images.

## Additional Notes

For more info on how to possibly parameterize the test, see: https://www.baeldung.co

[2022-11-05 23:35] jmakhack opened #390 "Verify jUnit 5 tests run on current CI/CD pipeline"
## Task Context

Verify that all the unit tests are being run and verified on the current CI/CD pipeline whenever a new pull request is made.

## Additional Notes

Please refer to [CONTRIBUTING.md](https://github.com/jmakhack/hydrate-reminder/blob/master/CONTRIBUTING.md) for info on how to setup, build, run, and test this project. Feel free to ping @jmakhack in the comments below with any question

[2022-11-05 23:35] jmakhack commented on #390
Verified in #389.

[2022-11-05 23:35] #390 closed

[2022-11-06 13:17] danissh20 commented on #388
@jmakhack I can grab this  😃

[2022-11-06 13:21] jmakhack commented on #388
go for it @danissh20!

[2022-11-06 14:40] danissh20 commented on #388
@jmakhack Please review https://github.com/jmakhack/hydrate-reminder/pull/391

[2022-11-06 15:21] danissh20 commented on #388
The other approach I can think of this using the constants in the CSV Source for comparison against the enum

`@CsvSource({`
 `           ItemID.BOTTLED_WATER + ", BOTTLED_WATER_IMAGE"`
 `   })`

[2022-11-07 10:33] #388 closed

[2022-11-08 00:01] jmakhack opened #394 "Hydration animation sometimes does not play properly"
## Bug Description

On occasion, the hydration animation fails to play when a hydration interval has completed.

## Steps to Reproduce

1. In the plugin settings, set the hydration interval to 1 minute and enable hydration animation
2. Wait for one interval to pass and observe that the animation plays
3. Do not move the character or do anything for another minute
4. Observe that the interval finis

[2022-11-08 12:38] jmakhack opened #395 "Add new chat command: stats"
### Note: This is dependent on #356 so work cannot start on this issue until #356 is first completed.

## Feature Reasoning

Given that command usage stats are now stored in a json file, it would be neat to have a chat command to read out those stat values.

## Feature Description

As part of #356, basic usage stats on all chat commands are now stored as part of a json file. This feature is to imp

[2022-11-08 13:20] jmakhack opened #396 "Add configuration settings to set hydrate reminder chat icon"
### Note: This is dependent on #355 so work cannot start on this issue until #355 is first completed.

## Feature Reasoning

Given that there exist new settings to set the overlay timer background icon, it would be nice to have the same settings for the hydrate reminder chat icon.

## Feature Description

The same image category and image settings that exist for the overlay timer should be ported

[2022-11-12 12:02] jmakhack opened #397 "Review, cleanup, and finalize all hydrate reminder and welcome messages"
## Task Context

Many new hydrate reminder and welcome messages have been added that are targeted for the upcoming v2.0.0 release. This task is to go through all the newly added in-app messages and cleanup any as necessary.

## Acceptance Criteria / Goals

The ultimate goal of this task is to finalize the list of messages that will be included in v2.0.0 for both hydrate reminder and welcome messag

[2022-11-12 12:47] jmakhack commented on #147
I have gone through animation ids 0 - 10000 and have identified a list of animations that should be included in v2.0.0:

| Animation ID   | Animation Label |
| ------------- | ------------- |
| 262  | Potion Bowl |
| 829  | Consuming  |
| 878  | Shrinking Potion |
| 895  | Bucket Scoop  |
| 1191  | Banana |
| 1194  | Karamja Rum  |
| 1323  | Hold Pint |
| 1327  | Chugging  |
| 1330  | Barrel Chug

[2022-11-12 12:47] #147 closed

[2022-11-15 06:18] jmakhack opened #398 "Populate animation types dropdown setting"
### Note: This work is dependent on #315 being completed first.

## Feature Reasoning

With the addition of a new animation setting and a dropdown configuration for different animation types, it would be good to populate the dropdown options with the animation options identified as part of #147.

## Feature Description

This enhancement is to take the animations identified in #147 to populate the

[2022-11-16 12:49] jmakhack opened #402 "Display a special welcome message when the plugin is first installed"
## Feature Reasoning

It would be nice to have an initial message displayed when first downloading and installing the plugin on how to get started with using the plugin.

## Feature Description

When the plugin is first installed, there should be a special welcome message displayed to the user in the form of a chat game message.

It should be something like:
`Welcome and thanks for installing the

[2022-11-16 13:07] #394 closed

[2022-11-27 17:45] ssiidd commented on #316
Hey @jmakhack, I finally got it working. Could I give this issue another shot if no one else is working on it?

[2022-11-28 04:26] jmakhack commented on #316
Yeah sure, go for it @ssiidd :)